{% extends "master.html"%}
{% block hero %}
{% endblock %}
{% block content %}
    <ul>
        <li><a href="{% url "events:event_preregistrations" event.pk %}">Se anmälningar</a></li>
        <li><a href="{% url "events:event_participants" event.pk %}">Se deltagare</a></li>
        <li><a href="{% url "events:event_speech_nr_list" event.pk %}">Se lista över talarnummer</a></li>
        <li><a href="{% url "events:event administer speaker list" event.pk %}">Admin Talarlistan</a></li>
        <li><a href="{% url "events:event speaker display" event.pk %}">Se Talarlistan</a></li>
        <li><a href="{% url "events:event_reserves" event.pk %}">Se reserver</a></li>
        <li><a href="{% url "events:event_check_in" event.pk %}">Starta incheckning</a></li>
        <li><a href="{% url "events:edit event" event.pk %}">Ändra event</a></li>
        <li><a href="{% url "events:import_registrations" event.pk %}">Importera anmälningar</a></li>

    </ul>
{% endblock %}