{% extends "master.html" %}
{% load iportalen_tags %}

{% block content %}

{% for event in events %}
    {% include "events/model/full_event.html" with pk=event.pk %}
    {% if can_administer %}
        <a href="{% url "administer_event" event.pk %}"><button type="button">Admin</button></a>
    {% endif %}

    <a href="{% url "approve event" event.pk %}"><button class="btn-read-more">Godkänn</button></a>
    <a href="{% url "unapprove event" event.pk %}"><button class="btn-read-more">Avslå</button></a>
{% empty %}
    <p>Inga event väntar på att godkännas, bra jobbat! :)</p>
{% endfor %}
{% endblock %}