{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load event_tags %}
{% include "header.html" %}

{% block content %}
    <section id="upcoming-calender">
        <h1>Kommande event</h1>
        {% get_all_events as events %}
        {% for event in events %}
            <article class="event-preview">
                <div class="meta">
                    <span class="date">{{ event.start|date:"d N Y" }}</span>
                    <span class="time">{{ event.start|time:"H:i" }}</span>
                    <span class="location">{{ event.location }}</span>
                </div>
                <h4>{{ event.headline }}</h4>
                <p>{{ event.lead }}</p>
                <a href="{% url "event" event.pk %}">Läs mer</a>
                <!--
                {% if event.enable_registration %}
                    <a href="{% url "event" event.pk %}"><button>Anmäl</button></a>
                {% endif %}-->
            </article>
        {% endfor %}
    </section>
{% endblock %}