{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load event_tags %}
{% include "header.html" %}

{% block content %}
    <section id="news-feed">
        <div id="content-select-nav">
            <a href="{% url "news feed" %}" class="content-type-nav">Allt</a>
            <a href="{% url "articles:articles" %}" class="content-type-nav">Nyheter</a>
            <a href="{% url "events:calender" %}" class="content-type-nav active">Event</a>
        </div>
        {% get_all_events as events %}
        {% for event in events %}
            {% include "events/model/small_event.html" with event=event %}
        {% endfor %}
    </section>
{% endblock %}