{% extends "master.html" %}
{% load event_tags %}
{% load tag_tags %}
{% load staticfiles %}
{% block hero %}
{% endblock %}
{% block content %}

    <ul class="accordion-tabs">
        <li class ="tab-header-and-content">
            <a href="javascript:void(0)" class="is-active tab-link">Ändra evenmang</a>
            <div class="tab-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="event-create-form-time-details">
                        {{ form.non_field_errors }}
                        {{ form.non_field_errors }}
                        {{ form.headline.label_tag }}
                        {{ form.headline.errors }}
                        {{ form.headline }}
                        <hr>
                        <div>
                            {{ form.start.label_tag }}
                            {{ form.start.errors }}
                            {{ form.start }}
                        </div>
                        <div>
                            {{ form.end.label_tag }}
                            {{ form.end.errors }}
                            {{ form.end }}
                        </div>
                        {{ form.location.label_tag }}
                        {{ form.location.errors }}
                        {{ form.location }}
                        <hr>
                        <div>
                            {{ form.registration_limit.label_tag }}
                            {{ form.registration_limit.errors }}
                            {{ form.registration_limit }}
                        </div>
                        <div>
                            {{ form.deregister_delta.label_tag }}
                            {{ form.deregister_delta.errors }}
                            {{ form.deregister_delta }}
                        </div>
                        <div>
                            {{ form.extra_deadline.label_tag }}
                            {{ form.extra_deadline.errors }}
                            {{ form.extra_deadline }}
                            {{ form.extra_deadline_text.label_tag }}
                            {{ form.extra_deadline_text.errors }}
                            {{ form.extra_deadline_text }}
                        </div>
                        <div>
                            {{ form.visible_from.label_tag }}
                            {{ form.visible_from.errors }}
                            {{ form.visible_from.help_text }}
                            {{ form.visible_from }}
                        </div>
                        <div>
                            {{ form.enable_registration.label_tag }}
                            {{ form.enable_registration.errors }}
                            {{ form.enable_registration.help_text }}
                            {{ form.enable_registration }}
                        </div>

                    </div>
                    <div id="event-create-form-main">
                        {{ form.lead.label_tag }}
                        {{ form.lead.errors }}
                        {{ form.lead }}
                        {{ form.body.label_tag }}
                        {{ form.body.errors }}
                        {{ form.body.help_text }}
                        <div class="wmd-panel">
                            <div id="wmd-button-bar-body"></div>
                            {{ form.body }}
                        </div>

                    </div>


                    <div id="event-create-form-member-details">


                    </div>

                    <div id="event-create-form-other-details">
                        {{ form.organisations.errors }}
                        {{ form.organisations.label_tag }}
                        {{ form.organisations.help_text }}
                        {{ form.organisations }}

                        {{ form.tags.label_tag }}
                        {{ form.tags.errors }}
                        {{ form.tags.help_text }}
                        {{ form.tags }}

                        {{ form.draft.label_tag }}
                        {{ form.draft.errors }}
                        {{ form.draft.help_text }}
                        {{ form.draft }}

                        <br>
                        {{ form.sponsored.label_tag }}
                        {{ form.sponsored.errors }}
                        {{ form.sponsored.help_text }}
                        {{ form.sponsored }}
                    </div>

                    <div id="article-create-form-buttons">
                        <button type="submit">Publicera eventet</button>
                    </div>
                </form>
            </div>
        </li>
        <li class ="tab-header-and-content">
            <a href="javascript:void(0)" class="tab-link">Förhandsvisning</a>
            <div class="tab-content">
                <div id="news-feed-article-preview">
                <article class="event-preview">
                    <h4 class="headline_preview"></h4>
                    <div class="meta">
                        <p class="meta-content start_preview_date"></p>
                        <p class="meta-content id_start_preview_time"></p>
                    </div>
                    <a href="#"><button>Läs mer</button></a>
                    <a href="#"><button class="enable_registration_preview">Anmäl</button></a>
                </article>
                </div>
                <div id="single-article-preview">
                    <h1>Enskilt event</h1>
                    <article class="single-article">
                        <p class="type">Event</p>
                        <h1 class="headline_preview"></h1>
                        <h2 id="lead_preview"></h2>
                        <p class="date">
                            <i class="fa fa-calendar"></i>
                            <span class="meta-content start_preview_date"></span>

                            <i class="fa fa-clock-o"></i>
                            <span class="meta-content start_preview_time"></span>

                            <i class="fa fa-map-o"></i>
                            <span class="meta-content place_preview"></span>
                        </p>
                        <p></p>
                        <p class="wmd-panel wmd-preview" id="wmd-preview-body"></p>
                        <a href="#"><button class="enable_registration_preview">Anmäl mig</button></a>
                        <hr>
                        <p class="author "></p>
                    </article>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}

{% block after_scripts %}
    <script>
        jQuery(document).ready(function(){
            event_preview();
        });
    </script>
{% endblock %}