{# This file defines the front page and is a own kind of master page #}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheets.html" %}
    <link rel="shortcut icon" type="image/png" href="{% static "iportalen/favicon.ico" %}"/>
    <title>I-portalen{% block page_subtitle %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>
<body>
{% csrf_token %}
<h1>
    {{ event.headline }}
</h1>
<div id="speaker_list">
    <ol>
        {% for p in event.get_speaker_queue %}
            <li>{{ p.user.first_name|capfirst }} {{ p.user.last_name|capfirst }}</li>
        {% endfor %}
    </ol>
</div>
{% include "scripts.html" %}
<script>
    jQuery(document).ready(function(){
        speaker_list_view("{% url "events:speaker api" event.pk %}");
    });
</script>



</body>
</html>
