{% extends "master.html" %}

{% block content %}
    <div id="content">
    <p>Antal deltagare: {{ event.number_of_preregistrations }}</p>
        <table>
            <thead>
                <tr>
                    <th>Liu-id</th><th>Förnamn</th><th>Efternamn</th><th>Tid</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in event.preregistrations %}
                    <tr>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.first_name }}</td>
                        <td>{{ entry.last_name }}</td>
                        <td>{{ entry.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}