{% extends "master.html" %}

{% block content %}
        <form  method="post" class="check-in-form" action="">
            <p>Starta incheckning genom att skriva in LiU-id och tryck "Checka in"</p>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.user.errors }}
            <label>Liu-id eller RFID:</label>
            {{ form.user }}
            {{ form.user.help_text }}
            {% if reserve %}
                <br>
                {{ form.force_check_in.non_field_errors }}
                {{ form.force_check_in.errors }}
                <label>Force check in</label>
                {{ form.force_check_in }}
                {{ form.force_check_in.help_text }}
            {% endif %}
            <button type="submit">Checka in</button>
            {% if can_administer %}
                <a href="{% url "administer_event" event.pk %}"><button type="button">Admin</button></a>
            {% endif %}
        </form>
{% endblock %}