{% extends "master.html" %}
{% load iportalen_tags %}

{% block hero %}
{% endblock %}

{% block content %}

    <article class="single-article">
        <p class="type">Event</p>
        <h1>{{ event.headline }}</h1>
        <h2>{{ event.lead }}</h2>
        <p class="date">
            <i class="fa fa-calendar"></i>
            <span class="meta-content">{{ event.start|date:"d N Y" }}</span>

            <i class="fa fa-clock-o"></i>
            <span class="meta-content">{{ event.start|time:"H:i" }}</span>

            <i class="fa fa-map-o"></i>
            <span class="meta-content">{{ event.location }}</span>
        </p>
        <p></p>
        <p>{{ event.body|markdown }}</p>
        <hr>
        <p class="author">Skapad av {{ event.user }}</p>
    </article>

    <div class="register-button">
        {% if event.enable_registration %}
            {% if not registered %}
                {% if event.extra_deadline %}<p>Anmälningsstopp: {{ event.entry_deadline|date:"Y-m-d H:i:s" }}</p>{% endif %}
                {% if event.extra_deadline %}<p>Anmälningsstopp för att {{ event.extra_deadline_text }}: {{ event.extra_deadline|date:"Y-m-d H:i:s" }}</p>{% endif %}

                {% if not event.full %}
                    <form method="post" action="{% url "register_to_event" event.pk %}">
                        {% csrf_token %}
                        <button type="submit" title="snälla">Anmäl mig</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url "register_as_reserve" event.pk %}">
                        {% csrf_token %}
                        <button type="submit" title="snälla">Anmäl mig som reserv</button>
                    </form>
                {% endif %}
            {% else %}
                <p><i class="fa fa-check-circle-o"></i> Du är anmäld.</p>
                {% if event.can_deregister %}
                <form method="post" action="{% url "unregister" event.pk %}">
                    {% csrf_token %}
                    <button type="submit" title="snälla">Avanmäl mig</button>
                </form>
                {% else %}
                    <p>Det är för sent att avanmäla sig nu.</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="admin-event">
        {% if can_administer %}
            <a href="{% url "administer_event" event.pk %}">
                <button type="button">Administrera <i class="fa fa-wrench"></i></button>
            </a>
        {% endif %}
    </div>
{% endblock %}