{% extends "master.html" %}
{% load iportalen_tags %}
{% block page_subtitle %}{{ event.headline }}{% endblock %}
{% block head %}
    <meta property="og:url"                content="{{ event.get_absolute_url }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ event.headline }}" />
    <meta property="og:description"        content="{{ event.lead }}" />

{% endblock %}
{% block hero %}
{% endblock %}

{% block content %}

    {% include "events/model/full_event.html" with event=event %}
{% endblock %}
{% block after_scripts %}
    <script>
        jQuery(document).ready(function () {
            $(".fancybox").fancybox();
        })
    </script>
{% endblock %}