{% extends "master.html" %}
{% load event_tags %}
{% block content %}
    <p>Antal deltagare: {{ event.number_of_participants }}</p>
        <table>
            <thead>
                <tr>
                    <th>Liu-id</th><th>Förnamn</th><th>Efternamn</th><th>Incheckad</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in event.entryasparticipant_set.all %}
                    <tr>
                        <td>{{ entry.user.username }}</td>
                        <td>{{ entry.user.first_name|capfirst }}</td>
                        <td>{{ entry.user.last_name|capfirst }}</td>
                        <td>{{ entry.timestamp|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <a href="{% url "events:event_participants_download" event.pk %}"><button type="button">Ladda ner deltagare</button></a>
    {% event_can_administer event request.user as can_administer %}
    {% if can_administer %}
        <a href="{% url "events:administer_event" event.pk %}"><button type="button">Admin</button></a>
    {% endif %}
    <br>
    <h1>No Shows</h1>
    <table>
            <thead>
                <tr>
                    <th>Liu-id</th><th>Förnamn</th><th>Efternamn</th>
                </tr>
            </thead>
            <tbody>
                {% for user in event.no_show %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name|capfirst }}</td>
                        <td>{{ user.last_name|capfirst }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}