{% extends "master.html" %}
{% load event_tags %}
{% block content %}
    <p>Antal deltagare: {{ event.number_of_preregistrations }}</p>
        <table>
            <thead>
                <tr>
                    <th>Liu-id</th><th>Förnamn</th><th>Efternamn</th><th>Tid</th><th>Allergier/Specialkost</th><th>Årskurs</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in event.entryaspreregistered_set.all %}
                    <tr>
                        <td>{{ entry.user.username }}</td>
                        <td>{{ entry.user.first_name|capfirst }}</td>
                        <td>{{ entry.user.last_name|capfirst }}</td>
                        <td>{{ entry.timestamp|date:'Y-m-d H:i' }}</td>
                        <td>{{ entry.user.allergies }}</td>
                        <td>{{ entry.user.current_year }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url "events:preregistrations download" event.pk %}"><button type="button">Ladda ner föranmälda</button></a>
        {% event_can_administer event request.user as can_administer %}
        {% if can_administer %}
            <a href="{% url "events:administer event" event.pk %}"><button type="button">Admin</button></a>
        {% endif %}
{% endblock %}