{% load staticfiles %}
{% load event_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static "iportalen/favicon.ico" %}"/>
    {% event_can_administer event request.user as can_administer %}
    {% if can_administer %}
        {% csrf_token %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
            $(document).ready(function() {

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                var s_list = $("#list ol");
                $("#post").click(function(e) {
                    e.preventDefault();
                    var data = {
                        'method':'add',
                        'speech_nr': $("#id_speech_nr").val()
                    };
                    $.ajax({
                        "type": "POST",
                        "dataType": "json",
                        "url": "",
                        "data": data,
                        "success": function(result) {
                            if (result.status === "ok"){

                                console.log(result.first_name);
                                console.log(result.last_name);
                                s_list.append('<li>' + result.first_name + ' ' + result.last_name + '</li>');
                            } else {
                                console.log(result.status);
                            }
                        }
                    });
                    $("#id_speech_nr").val('');
                });
                $("#next").click(function(e) {
                    e.preventDefault();
                    s_list.find('li:first').remove();
                    var data = {
                        'method':'pop'
                    };
                    $.ajax({
                        "type": "POST",
                        "dataType": "json",
                        "url": "",
                        "data": data,
                        "success": function(result) {
                            if (result.status === "ok"){

                            } else {
                                console.log(result.status);
                            }
                        }
                    });
                });
                $("#clear").click(function(e) {
                    e.preventDefault();
                    s_list.empty();
                    var data = {
                        'method':'clear'
                    };
                    $.ajax({
                        "type": "POST",
                        "dataType": "json",
                        "url": "",
                        "data": data,
                        "success": function(result) {
                            if (result.status === "ok"){

                            } else {
                                console.log(result.status);
                            }
                        }
                    });
                });

            });

        </script>
    {% endif %}
    <style>
        ol{
            list-style-position:inside;
        }
        #list{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        li:nth-child(1) {
            font-size: 100pt;
        }
        li:nth-child(2) {
            font-size: 75pt;
        }
        li:nth-child(3) {
            font-size: 50pt;
        }
        li{
            font-size: 25pt;
        }

        footer{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    </style>
    <title>Talarlista</title>
</head>
<body>
<div id="wrapper">
    <div id="list">
        <ol>
            {% for p in event.get_speaker_list %}
                <li>{{ p.user.first_name|capfirst }} {{ p.user.last_name|capfirst }}</li>
            {% endfor %}
        </ol>
    </div>
    <footer id="inputs">

        <form action="" method="post">
            <input id="id_speech_nr" type="number" name="speech_nr" autofocus>
            <input id="post" type="submit" name="add" value="Lägg till i talarlistan">
            <input id="next" type="button" name="next" value="Nästa talare">
            <input id="clear" type="button" name="clear" value="Rensa talarlistan">
        </form>

    </footer>
</div>
</body>
</html>