{% extends "master.html"%}
{% block hero %}
{% endblock %}
{% block content %}
    <br>
    <p>Efter att du klickat på "Lägg till dig på talarlistan" kan det kan ta några sekunder att få bekräftelse på att du är uppskriven på talarlistan.</p>
    <button class="action-button"><a href="{% url "events:add user speech nr list" event.pk %}">Lägg till dig på talarlistan</a></button>
    <button class="button"><a href="{% url "events:remove user speech nr list" event.pk %}">Ta bort dig från talarlistan</a></button>
    <br><br>
    <button class="button"><a href="{% url "events:event" event.pk %}">Tillbaka till eventet</a></button>
{% endblock %}