reversion
Django>=1.8.5,<1.8.99
dj-static
mysqlclient
markdown
django-storages==1.5.1
boto
urllib3
django_extensions
pytz
Pillow >= 2.0.0
requests==2.6.0
requests-toolbelt
django-debug-toolbar
django-filter
djangorestframework==3.3.2
django-nose
coverage
django-cors-headers