div.booking-container
  div.booking
    .info
      ul
        list-style-type: disc
        padding-bottom: 0.5em
        list-style-position: inside

    div#days
      +display(flex)
      flex-wrap: wrap
      border-color: #006600
      border-style: solid

      div.single_day
        +flex(1)
        flex-basis: 14%
        border-color: black
        border-style: solid
        p
          padding: 3px

        line-height: 1
        .unavailable
          background-color: lightcoral
        .available
          background-color: lightgreen
        .choosen
          background-color: lightblue
        .blocked
          background-color: lightgray

  .third-container
    +outer-container()
    .third
      +span-columns(4)
      .center
        text-align: center

.invoice
  th
    border-bottom: 0
    padding: 0
  td
    border-bottom: 0
    padding: 0
  .blank_row
    height: 10px

