
<div class="page-header">
    <h1>Alumniportalen</h1>
</div>

<header class="navigation ep-navigation">
    <div class="navigation-wrapper ep-navigation-wrapper">

        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
        <nav>
            <ul id="js-navigation-menu" class="navigation-menu">
                <li class="nav-link"><a href="{% url 'alumni_portal:alumni_portal' %}">Startsida</a>
                <li class="nav-link"><a href="{% url 'alumni_portal:alumni_magazine' %}">Alumnitidningen</a>
                <li class="nav-link"><a href="{% url 'alumni_portal:skugga_en_alumn' %}">Skugga en alumn</a>
                <li class="nav-link"><a href="{% url 'alumni_portal:mentorship_program' %}">Mentorskapsprogrammet</a>
                <li class="nav-link"><a href="{% url 'alumni_portal:calendar' %}">Kalender</a>
                <li class="nav-link"><a href="{% url 'alumni_portal:about' %}">Om oss</a>

            </ul>
        </nav>
    </div>
</header>
<br>