
    <div class="page-header">
        <h1>Utlandsportalen</h1>
    </div>

    <header class="navigation ep-navigation">
    <div class="navigation-wrapper ep-navigation-wrapper">

        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
        <nav>
            <ul id="js-navigation-menu" class="navigation-menu">
                <li class="nav-link"><a href="{% url 'exchange_portal:exchange_portal' %}">Startsida</a>
                <li class="nav-link"><a href="{% url 'exchange_portal:exchange_portal' %}">Alumnitidningen</a>
                <li class="nav-link"><a href="{% url 'exchange_portal:exchange_portal' %}">Skugga en alumn</a>
                <li class="nav-link"><a href="{% url 'exchange_portal:exchange_portal' %}">Kalender</a>
                <li class="nav-link"><a href="{% url 'exchange_portal:exchange_portal' %}">Om oss</a>
                <li class="nav-link"><a href="{% url 'exchange_portal:important_dates' %}">Mentorskapsprogrammet</a>

            </ul>
        </nav>

    </div>
    </header>