{% extends "master.html" %}

{% block title %}Alumniportalen{% endblock %}
{% block content %}
    {% include "alumni_portal_header.html" %}
    <div>
            <h1>Om oss</h1>
        <h2>Alumniutskottet sköter sektionens verksamhet som involverar alumner, d.v.s. utexaminerade I-are.</h2>
        <p>För att <em>inspirera, motivera och ge en inblick</em> i vad  framtiden som i-are innebär, förmedlas alumnernas
            <em>erfarenheter, kunskaper och engagemang</em> till sektionens medlemmar. Utöver detta ansvarar
            Alumniutskottet för att I-alumnerna ska behålla sitt nätverk från studietiden såväl som en stark koppling till I-sektionen.</p>
        <p>Det kommande läsåret genomför Alumniutskottet:</p>
        <ol>
            <li>Inspirerande <em>talkshow</em> gästad av varierade alumner</li>
            <li><em>Success stories</em> där en extra framgångsrik alumn håller i en föreläsning</li>
            <li>Ett <em>mentorskapsprogram</em> för 4:or och 5:or</li>
            <li><em>Skugga en alumn</em> där studenter får chansen att följa med en alumn en dag på jobbet</li>
            <li><em>Alumnitidningen</em> som skickas ut till sektionens över 6000 alumner varje vår</li>
            <li><em>I-pubar</em> för alumner i Stockholm</li>
            <li><em>Frukostseminarier</em> för alumner i Stockholm</li>
        </ol>
        <p>MISSA INTE detta! Det kommer bli fett</p>
    </div>
{% endblock %}