{% extends "master.html" %}

{% block title %}Alumniportalen{% endblock %}
{% block content %}
    {% include "alumni_portal_header.html" %}
    <div>
        <h1>Mentorskapsprogrammet</h1>
        <p>
            Mentorskapsprogrammet är ägnat åt masterstudenter på Industriell Ekonomi och syftar till att inspirera,
            utmana och utveckla såväl adepten som mentorn i sin profession och som person.
            <br>
            <br>
            Mentorn har uppgiften att dela med sig av sin kompetens och erfarenhet, samt agera bollplank till en adept
            med viljan att utvecklas. I programmet ingår organiserade träffar i Stockholm där programmets deltagare
            utöver aktiviteter, möts och äter middag tillsammans.
            <br>
            <br>
            Alla branschområden och alla typer av befattning är intressant - studenter vill veta hur du har tagit
            dig dit där du är efter utbildningen!
            <br>
            <br>
            Anmälan till 18/19 års upplaga av programmet kommer att öppna under hösten, så håll ögonen öppna!
        </p>
    </div>
{% endblock %}