{% extends "master.html" %}

{% block title %}Alumniportalen{% endblock %}
{% block content %}
    {% include "alumni_portal_header.html" %}
    <div>
            <h1>Skugga en alumn</h1>
        <p>Skugga en alumn ger I-studenter möjligheten att följa med en alumn en dag på jobbet.
            Detta brukar vara mycket uppskattat då studenterna ges en unik chans att få en inblick i en bransch samt goda
            råd från er alumner. Matchningen går till så att studenterna får önska intresseområden som sedan, tillsammans
            med deras valda inriktningar, matchas med de alumner som anmält sig. När skuggningen ska ske får paret själva
            bestämma, vilket gör programmet väldigt flexibelt.
            <br>
            <br>
            Anmälan inför Skugga en alumn 18/19 kommer öppna efter sommaren.
        </p>
    </div>
{% endblock %}