{% extends "master.html" %}

{% block hero %}
{% endblock %}

{% block content %}
    <section id="admin-courses">
        <form id="forms" method="post" action="">
            {% csrf_token %}
            <div class="form">
                {{ form.non_field_errors }}
                <div class="field">
                    {{ form.course.label_tag }}{{ form.course }}
                    <p>{{ form.course.errors }}</p>
                </div>
                <div class="field">
                    {{ form.reward.label_tag }}{{ form.reward }}
                    <p>{{ form.reward.errors }}</p>
                </div>
            </div>
            <input type="submit" class="button action-button" value="Anmäl">
        </form>
    </section>
{% endblock %}