#event-create-form-main
  +span-columns(12)
  +media($large-screen-up)
    +span-columns(8 of 8)

#event-create-form-time-details
  +span-columns(12)
  +media($large-screen-up)
    +span-columns(8 of 8)
    +omega()

#event-create-form-member-details
  +span-columns(12)

#event-create-form-other-details
  +span-columns(12)

article.event-preview
  border-radius: 3px
  border-left: 3px solid $isektionen-green
  margin-bottom: 1em
  padding: 0.5em 1em
  padding-top: 0em

  .meta
    +display(flex)
    +flex-wrap(wrap)
    & > span::before
      font-family: 'FontAwesome'
    span
      margin-right: 1em
      padding: 10px 0
      text-transform: uppercase
      font-size: 12px
    .date
      &::before
        padding-right: 0.5em
        content: '\f073'
    .time
      &::before
        padding-right: 0.5em
        content: '\f017'

    .location
      &::before
        padding-right: 0.5em
        content: '\f041'
  p
    line-height: 1.5
    font-size: 14px
    margin: 1em 0

    p
      margin: 5px 0
      font-size: 14pt

      +media($large-screen-up)
        font-size: 12pt

article.event-preview-organisation
  padding: 0px 15px 0px 15px
  //border-bottom: 2px solid $light-gray
  margin-bottom: 0em
  .meta
    +display(flex)
    +flex-wrap(wrap)
    border-top: 2px solid #dfddde
    & > span::before
      font-family: 'FontAwesome'
    span
      margin-right: 1em
      padding: 10px 0
      text-transform: uppercase
      font-size: 12px
    .date
      &::before
        padding-right: 0.5em
        content: '\f073'
    .time
      &::before
        padding-right: 0.5em
        content: '\f017'
  p
    line-height: 1.5
    font-size: 14px
    margin: 1em 0

