{% extends "master.html" %}
{% load article_tags %}
{% load iportalen_tags %}

{% block content %}
{% for article in articles %}
    {% include "articles/model/full_article.html" with article=article %}
    <a href="{% url "articles:approve article" article.pk %}"><button class="btn-read-more">Godkänn</button></a>
    <a href="{% url "articles:unapproves article" article.pk %}"><button class="btn-read-more">Avslå</button></a>
    <a href="{% url "articles:edit article" article.pk %}"><button class="btn-read-more">Gör ändringar</button></a>

{% empty %}
    <p>Det finns inga artiklar kvar att godkänna! Bra jobbat :)</p>
{% endfor %}
{% endblock %}