{% extends "master.html" %}
{% load article_tags %}
{% load tag_tags %}
{% load staticfiles %}
{% block content %}
    <div id="article-create-form">
        <h1>Skapa artikel</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <section id="article-create-form-text">
                {{ form.headline.errors }}
                {{ form.headline.label_tag }}
                {{ form.headline }}
                {{ form.lead.errors }}
                {{ form.lead.label_tag }}
                {{ form.lead }}
                {{ form.body.errors }}
                {{ form.body.label_tag }}
                <div class="wmd-panel">
                    <div id="wmd-button-bar-body"></div>
                    {{ form.body }}
                </div>
            </section>
            <div id="article-create-form-meta">
                {{ form.author.errors }}
                {{ form.author.label_tag }}
                {{ form.author }}
                {{ form.author.help_text }}

                {{ form.organisations.errors }}
                {{ form.organisations.label_tag }}
                {{ form.organisations }}
                {{ form.organisations.help_text }}

                {{ form.tags.errors }}
                {{ form.tags.label_tag }}
                {{ form.tags }}

                {{ form.tags.help_text }}
                {{ form.draft.errors }}

                {{ form.draft.label_tag }}
                {{ form.draft }}
                {{ form.draft.help_text }}
                {{ form.visible_from.errors }}
                {{ form.visible_from.label_tag }}
                {{ form.visible_from }}
                {{ form.visible_to.errors }}
                {{ form.visible_to.label_tag }}
                {{ form.visible_to }}

                {{ form.attachment.errors }}
                {{ form.attachment.label_tag }}
                {{ form.attachment }}
                {{ form.attachment.help_text }}
            </div>
            <div id="article-create-form-buttons">
                <button type="submit">Publicera artikeln</button>
            </div>
        </form>
    </div>
    <h2>Förhandsvisning av din artikel</h2>
    <div id="article-create-preview">
                <h3>Förhandsvisning kompakt format</h3>
                <article class="news-preview">
                    <div class="meta">
                        <span class="date date_preview" id="date_collapsed"></span>
                        <span class="author author_preview"></span>
                        <span class="tags tags_preview"></span>
                    </div>
                    <h5 class="headline_preview"></h5>
                    <p class="lead_preview"></p>
                    <a href=""><button class="btn-read-more">Läs mer</button></a>
                </article>
                <h3>Expanderat format</h3>
                <article class="news-preview">
                    <div class="meta">
                        <span class="date date_preview" id="date_expanded"></span>
                        <span class="author author_preview"></span>
                        <span class="tags tags_preview"></span>
                    </div>
                    <h5 class="headline_preview"></h5>
                    <p class="lead_preview"></p>
                    <div id="wmd-preview-body" class="wmd-panel wmd-preview"></div>
                </article>
            </div>
    <section id="instructions">
    <h2>Almänna tips:</h2>
    <p><strong>Skribent</strong> av texten visas bara om ingen organisation valts.</p>
    <p>Om du väljer en <strong>organisation</strong> i listan du inte tillhör kommer du att tappa åtkomsten till artikeln.</p>
    </section>
{% endblock %}
{% block after_scripts %}
<script>
    article_preview()
</script>
{% endblock %}