{% extends "master.html" %}
{% load article_tags %}
{% load tag_tags %}
{% load staticfiles %}
{% block content %}
    <h1>Skapa artikel</h1>
    <div id="article-create-form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.headline.errors }}
            {{ form.headline.label_tag }}
            {{ form.headline }}
            {{ form.headline.help_text }}

            {{ form.lead.errors }}
            {{ form.lead.label_tag }}
            {{ form.lead }}
            {{ form.lead.help_text }}

            {{ form.body.errors }}
            {{ form.body.label_tag }}
            <div class="wmd-panel">
                <div id="wmd-button-bar-body"></div>
                {{ form.body }}
            </div>

            {{ form.body.help_text }}

            {{ form.visible_from.errors }}
            {{ form.visible_from.label_tag }}
            {{ form.visible_from }}
            {{ form.visible_from.help_text }}

            {{ form.visible_to.errors }}
            {{ form.visible_to.label_tag }}
            {{ form.visible_to }}
            {{ form.visible_to.help_text }}

            {{ form.author.errors }}
            {{ form.author.label_tag }}
            {{ form.author }}
            {{ form.author.help_text }}

            {{ form.tags.errors }}
            {{ form.tags.label_tag }}
            {% get_tags request.user as tags %}

            <select multiple="multiple" id="id_tags" name="tags">
                {% for tag in tags %}
                    {% select_tag_status article_id tag.id as selected %}
                    <option value="{{ tag.id }}" {{ selected }}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            {{ form.tags.help_text }}
            {{ form.draft.errors }}
            {{ form.draft.label_tag }}
            {{ form.draft }}
            {{ form.draft.help_text }}
            <input type="submit" value="Submit" />
        </form>

    </div>
    <div id="article-create-preview">
        <article class="news-preview">
            <div class="meta">
                <span class="date" id="date_collapsed"></span>
                <span class="author" id="author_collapsed"></span>
                <span class="tags" id="tags_collapsed"></span>
            </div>
            <h5 id="headline_collapsed"></h5>
            <p id="lead_collapsed"></p>
            <a href=""><button class="btn-read-more">Läs mer</button></a>
        </article>

        <article class="news-preview">
            <div class="meta">
                <span class="date" id="date_expanded"></span>
                <span class="author" id="author_expanded"></span>
                <span class="tags" id="tags_expanded"></span>
            </div>
            <h5 id="headline_expanded"></h5>
            <p id="lead_expanded"></p>
            <div id="wmd-preview-body" class="wmd-panel wmd-preview"></div>
        </article>
    </div>

{% endblock %}
