{% extends "master.html" %}
{% load article_tags %}
{% load iportalen_tags %}
{% load staticfiles %}

{% block hero %}
{% endblock %}

{% block content %}
    <article class="single-article">
        <p class="type">Nyhet</p>
        <h1>{{ article.headline }}</h1>
        <h2>{{ article.lead }}</h2>
        <p class="date">
            {{ article.created|date:"Y-m-d" }}
            {% if article.tags.all  %}
                <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
            {% endif %}
        </p>
        <p>{{ article.body|markdown }}</p>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
        <p class="author">{{ article.organisations.all|safeseq|join:", " }}</p>
        {% if article.attachment %}
            <p>Bifogad fil: {{ article.filename }}
                <a href="{% url "article_download" article.pk %}"><button type="button">Ladda ner</button></a>
            </p>
        {% endif %}
    </article>
    </article>
{% endblock %}
