{% extends "master.html" %}
{% load article_tags %}
{% load iportalen_tags %}
{% load staticfiles %}

{% block hero %}
{% endblock %}

{% block content %}
    <article class="news-feed-content">
        <div class="article-type-and-date">
            <!-- <p class="type">Nyhet</p>-->
            <i class="fa fa-newspaper-o large"></i>
            <div class="article-preview-time-organisation">
                <p class="article-preview-type">{{ article.organisations.all|safeseq|join:", " }}</p>
                <p class="article-preview-type time-since">{{ article.visible_from|timesince}}</p>
            </div>
        </div>
        <h1>{{ article.headline }}</h1>
        <h2>{{ article.lead|truncatewords_html:50 }}</h2>
        <p class="date">

            {% if article.tags.all  %}
                <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
            {% endif %}
        </p>
        <a href="{{ article.get_absolute_url }}">Läs mer</a>
        <hr>

    </article>
{% endblock %}
