{% extends "master.html" %}
{% load article_tags %}
{% load iportalen_tags %}

{% block content %}
        <h1>Artiklar</h1>
        <table>
            <thead>
            <tr>
                <th colspan="2">Rubrik</th>
                <th>Publicering</th>
                <th>Ändra</th>
                <th colspan="2">Ägare</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for article in user_articles %}
                <tr>
                    <td colspan="2"><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></td>
                    <td>{{ article.created|date:"Y-m-d" }}</td>
                    <td><a href="{{ article.get_absolute_url }}edit"><button>Ändra</button></a></td>
                    <td colspan="2">{% if article.organisations.all %}{{ article.organisations.all|safeseq|join:", " }}{% else %}{{ article.user }}{% endif %}</td>
                    <td>
                        {% if article.status == "r" %}
                            <span class="rejected">Avslaget:<br>{{ article.rejection_message }}</span>
                        {% elif article.status == "a" %}
                            Godkännt
                        {% elif article.status == "b" %}
                            Väntar på godkännande
                        {% elif article.status == "d" %}
                            Utkast
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}