{% extends "master.html" %}
{% load article_tags %}
{% load iportalen_tags %}

{% block content %}
        <h1>Artiklar</h1>
        <table>
            <thead>
            <th colspan="2">Rubrik</th>
            <th>Publicering</th>
            <th>Ändra</th>
            <th colspan="2">Ägare</th>
            <th>Status</th>
            </thead>
            <tbody>
            {% for article in user_articles %}
                <tr>
                    <td colspan="2"><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></td>
                    <td>{{ article.created|date:"Y-m-d" }}</td>
                    <td><a href="{{ article.get_absolute_url }}edit"><button>Ändra</button></a></td>
                    <td colspan="2">{% if article.organisations.all %}{{ article.organisations.all|safeseq|join:", " }}{% else %}{{ article.author }}{% endif %}</td>
                    {% if article.draft %}
                        <td>Utkast</td>
                    {% elif article.draft = False and article.approved  = False %}
                        <td>Väntar på godkännande</td>
                    {% elif article.approved %}
                        <td>Publicerad</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}