{% extends "master.html" %}
{% load article_tags %}

{% block content %}
    <div>
    <h3>Godkända artiklar</h3>
    {% for article in approved_articles %}
    <article class="news-preview">
        <div class="meta">
            <span class="date">{{ article.created|date:"Y-m-d" }}</span>
            <span class="author">{{ article.author }}</span>
            {# Don't render tags for articles without tags #}
            {% if article.tags.all  %}
                <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
            {% endif %}
        </div>
        <h5>{{ article.headline }}</h5>
        <p>{{ article.lead|truncatewords_html:50 }}</p>
        <a href="{{ article.get_absolute_url }}"><button class="btn-read-more">Läs mer</button></a>
        <a href="{{ article.get_absolute_url }}edit"><button class="btn-read-more">Ändra</button></a>
    </article>
    {% endfor %}
    </div>
    <div>
    <h3>Artiklar som väntar på godkännande</h3>
    {% for article in unapproved_articles %}
    <article class="news-preview">
        <div class="meta">
            <span class="date">{{ article.created|date:"Y-m-d" }}</span>
            <span class="author">{{ article.author }}</span>
            {# Don't render tags for articles without tags #}
            {% if article.tags.all  %}
                <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
            {% endif %}
        </div>
        <h5>{{ article.headline }}</h5>
        <p>{{ article.lead|truncatewords_html:50 }}</p>
        <a href="{{ article.get_absolute_url }}"><button class="btn-read-more">Läs mer</button></a>
        <a href="{{ article.get_absolute_url }}edit"><button class="btn-read-more">Ändra</button></a>
    </article>
    {% endfor %}
    </div>
    <div>
    <h3>Utkast till artiklar</h3>
    {% for article in draft_articles %}
    <article class="news-preview">
        <div class="meta">
            <span class="date">{{ article.created|date:"Y-m-d" }}</span>
            <span class="author">{{ article.author }}</span>
            {# Don't render tags for articles without tags #}
            {% if article.tags.all  %}
                <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
            {% endif %}
        </div>
        <h5>{{ article.headline }}</h5>
        <p>{{ article.lead|truncatewords_html:50 }}</p>
        <a href="{{ article.get_absolute_url }}"><button class="btn-read-more">Läs mer</button></a>
        <a href="{{ article.get_absolute_url }}edit"><button class="btn-read-more">Ändra</button></a>
        <a href="{{ article.get_absolute_url }}delete"><button class="btn-read-more">Ta bort</button></a>

    </article>
    {% endfor %}
    </div>
{% endblock %}