.wrapper
    +display(flex)
    +flex-wrap(wrap)
    margin-top: 20px
    margin-bottom: 30px
    h4
        margin-bottom: 30px

    div.editPart
        +display(flex)
        +flex(1)
        margin-right: 100px

    .bubble
        font-size: 11px
        display: inline-block
        background-color: #F2F2F2
        border-radius: 5px
        box-shadow: 0 0 2px #B2B2B2
        margin-bottom: 15px
        padding: 7px

        content: ' '
        width: 0
        height: 0
        left: 30px
        right: auto
        top: auto
        bottom: -40px
        border: 20px solid
        border-color: #666 transparent transparent #666

    .triangle:after
        content: ' '
        width: 0
        height: 0
        left: 38px
        right: auto
        top: auto
        bottom: -20px
        border: 12px solid
        border-color: lightyellow transparent transparent lightyellow

    .helpText
        visibility: hidden

        .publication
            +display(flex)
            +flex-wrap(wrap)

            .publicOn
                +flex(1)


            .publicOff
                +flex(1)

    div.review
        +flex(1)

        article.news-preview
            +display(flex)
            +flex-direction(column)
            border-radius: 3px
            border-left: 5px solid $isektionen-yellow
            padding: 0 15px 15px 15px
            box-shadow: 1px 1px 5px $light-gray
            margin-bottom: 1em
            &:hover
                box-shadow: 4px 4px 16px $light-gray
                +transition-duration(0.5s)
            h5
                font-weight: 700
                font-size: 14px
                padding-bottom: 5px
                border-bottom: 2px solid $light-gray
            hr
                +align-self(flex-start)
            .meta
                +display(flex)
                +flex-wrap(wrap)
                & > span::before
                    font-family: 'FontAwesome'
                span
                    margin-right: 1em
                    padding: 10px 0
                    text-transform: uppercase
                    font-size: 12px
                .date
                    &::before
                        padding-right: 0.5em
                        content: '\f073'
                .tags
                    &::before
                        padding-right: 0.5em
                        content: '\f02b'
                .author
                    &::before
                        padding-right: 0.5em
                        content: '\f040'
            p
                line-height: 1.5
                font-size: 14px
                margin: 1em 0

            .btn-read-more
                //@media
                +align-self(center)




