#footer
    background: white
    height: 150px
    #footer-content
        +display(flex)
        padding: 20px
        +align-items(center)

        +media($desktop)
            margin: 0 auto
            max-width: 970px

