.button-group {
  $button-group-background: $light-gray;
  $button-group-color: $dark-gray;
  $button-group-inner-border: 1px solid lighten(silver, 18%);
  $button-group-color-checked: white;
  $button-group-shadow: 0px 3px 0px darken($light-gray, 10%);
  input {
    display: none;
  }

  label {
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-right: 1em;
    }

    .button-group-item {
      background: $button-group-background;
      box-shadow: $button-group-shadow;
      border-radius: 3px;
      color: $button-group-color;
      cursor: pointer;
      display: inline-block;
      font-size: $base-font-size;
      font-weight: normal;
      line-height: 1;
      padding: 0.75em 1em;
      width: 100%;

      &:focus,
      &:hover {
        background-color: darken($button-group-background, 3%);
      }
    }
  }
}
