{% extends "master.html" %}
{% load staticfiles %}
{% block hero %}
        <section class="hero" style="background-image:url({% static 'iportalen/hero_picture.jpg' %})">
            <h1 id="hero-logo">i&#8209;portalen</h1>
        </section>
{% endblock %}
{% block content %}
    <div id="content">
        <h2>403 - här får du inte vara!</h2>
        <h2>Du har hittat en sida du inte har tillgång till.</h2>
        <br>
        <br>
        <p><i>“I'm just like you. I enjoy the forbidden fruits in life, too.”</i> - Mike Tyson</p>
    </div>
{% endblock %}
