{% extends "master.html" %}
{% block hero %}
    <section class="hero">
        <h1 id="hero-logo">404 &#8209; sidan kunde inte hittas!</h1>
    </section>
{% endblock %}
{% block content %}
    <div id="content">
        <h2>404 - sidan kunde inte hittas</h2>
        <p>- I natt ska han ha barn!
- Åskvädersbarn!

Litet och fult! Litet och fult!

- I natt ska han ha barn!
- Åskvädersbarn.

Litet och fult, litet och fult...

Han vill men kan inte sova

Hungern river hans vargabuk

och det är kallt i hans stova

- Är det bra att sjunga nu, Lovis?
- Det går lättare då.

Och så tror jag
att det blir en gladare unge.

Du varg, du varg, kom inte hit

ungen min får du aldrig

Skräm iväg grymvittrorna
annars hör jag inte vad jag sjunger!

Ge er iväg, vildvittror!
Jag ska ha barn i natt!

< ... Bortklippt del ... >

Jag ska akta mig
för att trilla i älven.

- Var ska du göra det?
- Vid älven om det ska vara nån nytta.

Lilla vackra människan!

Nu ska blodet flyta!

Nu ska blodet flyta!

Nu ska blodet flyta! Flyta... flyta...

Nu ska blodet flyta!

Aldrig se solen mera!

- Var är hon?
- Var är lilla människan?

Syns inte Syns inte!

Finns inte! Finns inte!

Åh, vad våt du är.

Jag har varit i skogen
och aktat mig för vildvittrorna.

Nu har jag aktat mig för allt
utom för Helvetesgapet.

Det ska jag akta mig för
när jag har torkat.

Du är ett klokt och lydigt barn.</p>
    </div>
{% endblock %}
