{% extends "master.html" %}
{% load staticfiles %}
{% block content %}
        <h2>404 - sidan kunde inte hittas</h2>
        <p>
            -I natt ska han ha barn!<br>
            - Åskvädersbarn!<br>
            Litet och fult! Litet och fult!<br><br>
            - I natt ska han ha barn!<br>
            - Åskvädersbarn.<br><br>
            Litet och fult, litet och fult...<br>
            Han vill men kan inte sova<br>
            Hungern river hans vargabuk och det är kallt i hans stova<br><br>
            - Är det bra att sjunga nu, Lovis?<br>
            - Det går lättare då.<br><br>
            Och så tror jag att det blir en gladare unge.<br>
            Du varg, du varg, kom inte hit ungen min får du aldrig<br>
            Skräm iväg grymvittrorna annars hör jag inte vad jag sjunger!<br>
            Ge er iväg, vildvittror!<br>
            Jag ska ha barn i natt!<br>
            Jag ska akta mig för att trilla i älven.<br>
            - Var ska du göra det?<br>
            - Vid älven om det ska vara nån nytta.<br>
            Lilla vackra människan!<br>
            Nu ska blodet flyta!<br>
            Nu ska blodet flyta!<br>
            Nu ska blodet flyta! Flyta... flyta...<br>
            Nu ska blodet flyta!<br>
            Aldrig se solen mera!<br>
            - Var är hon?<br>
            - Var är lilla människan?<br>
            Syns inte Syns inte!<br>
            Finns inte! Finns inte!<br>
            Åh, vad våt du är.<br>
            Jag har varit i skogen och aktat mig för vildvittrorna.<br>
            Nu har jag aktat mig för allt utom för Helvetesgapet.<br>
            Det ska jag akta mig för när jag har torkat.<br>
            Du är ett klokt och lydigt barn.<br>
        </p>
{% endblock %}
