{% load staticfiles %}
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="{% static "iportalen/isektionen_logo.png" %}" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Kontakt</h3></li>
      <li><a href="mailto:info@isektionen.se">Utgivare: InfO</a></li>
      <li><a href="mailto:mafo@isektionen.se">Marknadsföring: MafU</a></li>
      <li><a href="mailto:info.naru@isektionen.se">Företagskontakt: NärU</a> </li>
      <li><a href="mailto:support@i-portalen.se">Support I-portalen</a></li>
      <li><a href="mailto:webgroup@isektionen.se">Tekniskt: Webgroup</a></li>
    </ul>
    <ul>
      <li><h3>Sociala medier</h3></li>
      <li><a href="https://www.facebook.com/Industriell-ekonomi-Link%C3%B6ping-109690162408268/?fref=ts" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/I_sektionen?lang=sv" target="_blank">Twitter</a></li>
      <li><a href="https://www.instagram.com/industriellekonomi_liu/" target="_blank">Instagram</a></li>
    </ul>
    <ul>
      <li><h3>Information till användaren</h3></li>
      <li><a href="{% url 'pul' %}">PUL</a></li>
      <li><a href="{% url 'cookies' %}">Kakor</a></li>
    <li><a href="https://i-sektionen.github.io/i-portalen/index.html" target="_blank">Användarmanual I-portalen <i class="fa fa-external-link"></i></a></li>
    <li><a href="https://www.isektionen.se">Isektionen.se <i class="fa fa-external-link"></i></a></li>
    </ul>
  </div>
  <hr>

  <p>I-portalen är utvecklad med <a class="magic"><span class="uglycode">kärlek</span></a> av Webgroup®.</p>
</footer>