{% load staticfiles %}
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="{% static "iportalen/isektionen_logo.png" %}" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Kontakt</h3></li>
      <li><a href="mailto:info@isektionen.se">Utgivare: InfO</a></li>
      <li><a href="mailto:mafo@isektionen.se">Marknadsföring/Företag: MafU</a></li>
      <li><a href="mailto:webgroup@isektionen.se">Tekniskt: Webgroup</a></li>
    </ul>
    <ul>
      <li><h3>Sociala medier</h3></li>
      <li><a href="https://www.facebook.com/Industriell-ekonomi-Link%C3%B6ping-109690162408268/?fref=ts" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/I_sektionen?lang=sv" target="_blank">Twitter</a></li>
      <li><a href="https://www.instagram.com/industriellekonomi_liu/" target="_blank">Instagram</a></li>
    </ul>
  </div>
  <hr>
  <p>I-portalen är utvecklad med kärlek av Webgroup®.</p>
</footer>