{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load article_tags %}
{% include "header.html" %}


{% block content %}
    <section class="hero">
    <h1 id="hero-logo">Industriell ekonomi</h1>
</section>
<div id="content">


    {# gets all articles via template tag #}
    {% get_all_articles as articles %}
    <section id="news-feed">
        <h4>Nyheter</h4>
        {% for article in articles %}
            <article class="news-preview">
                <div class="meta">
                    <span class="date">{{ article.created|date:"Y-m-d" }}</span>
                    <span class="author">{{ article.author }}</span>
                    {# Don't render tags for articles without tags #}
                    {% if article.tags.all  %}
                        <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
                    {% endif %}
                </div>
                <h5>{{ article.headline }}</h5>
                <p>{{ article.lead|truncatewords_html:50 }}</p>
                <a href="{{ article.get_absolute_url }}">Läs mer</a> <!--# TODO fix layout of link, i.e change appearance to buttons -->
            </article>
        {% endfor %}
    </section>
    <section id="upcoming">
        <h4>Kommande</h4>
        <article class="event-preview">
            <h5>Lunchföreläsning</h5>
            <div class="meta">
                    <span class="date">
                        <span class="meta-content">5 Jan 2015</span>
                    </span>
                    <span class="time">
                        <span class="meta-content">17:15</span>
                    </span>
                    <span class="place">
                    <span class="meta-content">Märkesbacken</span>
                    </span>
            </div>
            <button>Info</button>
            <button>Anmäl</button>
        </article>
    </section>
</div>
{% endblock %}

{% include "scripts.html" %}
</body>
</html>