{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load iportalen_tags %}
{% include "header.html" %}

{% block content %}
    {# gets all articles via template tag #}
    <section id="news-feed">
        <h1>Nyheter</h1>
        {% for news in news_list %}
            {% if news.type == "article" %}
            <article class="news-preview">
                <div class="meta">
                    <span class="date">{{ news.visible_from|date:"d N Y" }}</span>
                    <span class="author">{{ news.organisations.all|safeseq|join:", " }}</span>
                    {# Don't render tags for articles without tags #}
                    {% if news.tags.all %}
                        <span class="tags">{{ news.tags.all|safeseq|join:", " }}</span>
                    {% endif %}
                </div>
                <h5>{{ news.headline }}</h5>

                <p>{{ news.lead|truncatewords_html:50 }}</p>
                <a href="{{ news.get_absolute_url }}">Läs mer</a>

            </article>
            {% endif %}
            {% if news.type == "event" %}
                <article class="event-preview">
                    <div class="meta">
                        <span class="date">{{ news.start|date:"d N Y" }}</span>
                        <span class="time">{{ news.start|time:"H:i" }}</span>
                        <span class="location">{{ news.location }}</span>
                    </div>
                    <h4>{{ news.headline }}</h4>
                    <a href="{% url "event" news.pk %}">Läs mer</a>
                    <!--
                    {% if news.enable_registration %}
                        <a href="{% url "event" news.pk %}"><button>Anmäl</button></a>
                    {% endif %}-->
                </article>
            {% endif %}
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
            <div class="meta">
                {% if news_list.has_previous %}
                    <span class="prev"><a href="?page={{ news_list.previous_page_number }}">Prev</a></span>
                {% endif %}
                    {% for number in news_list.paginator.page_range|slice:":10" %}
                        {% if number == news_list.number %}
                            <a class="pagenumber active" href="">{{ number }}</a>
                        {%  else %}
                            <a class="pagenumber" href="?page={{ number }}">{{ number }}</a>
                        {% endif %}
                    {% endfor %}
                {% if news_list.has_next %}
                    <span class="next"><a href="?page={{ news_list.next_page_number }}">Next</a></span>
                {% endif %}
            </div>
            </span>
        </div>
    </section>

{% endblock %}