{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load iportalen_tags %}
{% load article_tags %}
{% load event_tags %}
{% include "header.html" %}

{% block content %}
    {# gets all articles via template tag #}
    <section id="news-feed">
        <h1>Nyheter</h1>
        {% for article in articles %}
            {% include "articles/model/small_article.html" with article=article %}
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
            <span class="meta">
                {% if articles.has_previous %}
                    <span class="prev"><a href="?page={{ articles.previous_page_number }}">Prev</a></span>
                {% endif %}
                    {% for number in articles.paginator.page_range|slice:":10" %}
                        {% if number == articles.number %}
                            <a class="pagenumber active" href="">{{ number }}</a>
                        {%  else %}
                            <a class="pagenumber" href="?page={{ number }}">{{ number }}</a>
                        {% endif %}
                    {% endfor %}
                {% if articles.has_next %}
                    <span class="next"><a href="?page={{ articles.next_page_number }}">Next</a></span>
                {% endif %}
            </span>
            </span>
        </div>
    </section>
    <section id="upcoming">
        <h1>Kommande</h1>
        {% get_all_events as events %}
        {% for event in events %}
            {% include "events/model/small_event.html" with event=event %}
        {% endfor %}
    </section>
{% endblock %}