{% extends "master.html" %}

{% block hero %}
{% endblock %}


{% block content %}
    <h1>Generella dataskyddsförordningen (GDPR)</h1>
    <p>Den 25:e Maj 2018 trädde den generella dataskyddsförordningen i kraft och ersatte PUL. Vi ber dig därför se över följande information noggrant så att du är medveten om dina rättigheter. Du kan läsa dataskyddsförordningen i sin helhet <a href="http://eur-lex.europa.eu/legal-content/SV/TXT/PDF/?uri=CELEX:32016R0679&rid=1" target="_blank">-HÄR-</a></p><br>
    <p>Eventuella frågor eller ärenden bör skickas till personuppgiftsansvariga, vars kontaktuppgifter du finner längst ner på sidan.</p>
    <br>

    <hr>
    <h2>Ändamål för informationslagringen</h2>
    <p>Personuppgifterna du lämnar används för att kunna erbjuda följande tjänster, där ditt samtycke utgör den rättsliga grunden för behandlingen:</p>
    <ul style="list-style-type: disc; margin-left:4em;">
        <li>Utskick av sektionstidningen ipikuré</li>
        <li>Anmälan till olika event</li>
        <li>Röstning på olika event</li>
        <li>Identifiering för talarlistan vid olika event</li>
        <li>Bokning av sektionens materiel och fakturering för användning av dessa</li>
        <li>Erbjuda mat enligt dina matpreferenser (allergier/specialkost) vid olika event</li>
        <li>Tillgång till sektionens interna dokument</li>
        <li>Tillgång till studieinformation</li>
        <li>Tillgång till kursutvärderingar (utförda av sektionen)</li>
    </ul>
    <br>

    <hr>
    <h2>Information vi lagrar om dig</h2>
    <p>Vi lagrar information som du angivit och gett ditt uttryckliga samtycke för. Det är ditt ansvar att se till att informationen du tillhandahåller är korrekt. Detta innefattar:</p>
    <ul style="list-style-type: disc; margin-left:4em;">
        <li>Adress</li>
        <li>Kön*</li>
        <li>Ditt lösenord, krypterat</li>
        <li>Allergier/specialkost</li>
        <li>Startår</li>
        <li>Klass</li>
        <li>Nuvarande årskurs</li>
        <li>Kandidatprofil</li>
        <li>Masterprofil</li>
        <li>Telefonnummer*</li>
        <li>RFID för din studentlegitimation*</li>
    </ul>
    <br>
    <p><em>*Valfria, dessa behöver ej anges för att få tillgång till alla i-portalens tjänster.</em></p>
    <br>
    <p>Följande information inhämtas från Lintek med rättslig grund i Artikel 6 §1.f av dataskyddsförordningen:</p>
    <ul style="list-style-type: disc; margin-left:4em;">
        <li>LiU:ID</li>
        <li>För- och efternamn</li>
    </ul>
    <br>
    <p>Dessa personuppgifter anses falla under Sektionen för Industriell Ekonomi vid Linköpings Universitets berättigade intressen: att erbjuda samtliga studerande tillgång till sektionens tjänster och att minimera missbruk av systemet. Du har rätten att motsäga denna tolkning och begära att informationen raderas, läs mer under avsnittet om dina rättigheter.</p>
    <br>
    <p>Utöver dessa punkter lagrar vi dina anmälningar till event i syfte att garantera dig en plats men även för att föra intern (anonym) statistik kring sektionens event.</p>
    <br>
    <p>Tillhandahållandet av denna information utgör ett avtalsenligt krav där Sektionen för Industriell Ekonomi inte kan erbjuda dig de definierade tjänster eller tillgång till sektionens evenemang skulle du välja att inte tillhandahålla den efterfrågade informationen.</p>
    <br>
    <p>Dina personuppgifter lagras tills dess att du återkallar ditt samtycke alternativt ett år efter du avslutat dina studier på programmet Industriell Ekonomi vid Linköpings universitet, det datum som infaller först.</p>
    <br>

    <hr>
    <h2>Vilka som har tillgång till dina uppgifter</h2>
    <p>Tillgång till din personliga information begränsas till att endast täcka de uttryckligt angivna ändamålen och den kontinuerliga utvecklingen och underhållet av sidan. Din information lämnas <strong>inte</strong> till tredje part. Detta innebär att följande personer har tillgång till din information:</p>
    <ul style="list-style-type: disc; margin-left:4em;">
        <li>Utvecklare i Webgroup: tillgång till din personuppgifter i underhålls och utvecklingssyfte</li>
        <li>Eventskapare: tillgång till ditt LiU-ID, för- och efternamn, matpreferenser samt årskurs då du registrerar dig på deras evenemang</li>
        <li>Chefredaktören för ipikuré: tillgång till ditt LiU-ID, för- och efternamn samt adress då du prenumererar på sektionstidningen</li>
        <li>I-Sektionens admin: tillgång till ditt LiU-ID då du publicerar en artikel eller event</li>
        <li>Av I-Sektionen utsedda “staff”: tillgång till en förenklad lista av användare där LiU-ID, namn, kön, startår, nuvarande årskurs, klass, teknisk inriktning samt master profil ingår</li>
    </ul>
    <br>

    <hr>
    <h1>Dina rättigheter</h1>
    <p>Du har rätten att av den personuppgiftsansvarige begära <strong>tillgång till</strong> och <strong>rättelse</strong> eller <strong>radering</strong> av personuppgifter eller <strong>begränsning</strong> av behandling som rör dig eller att invända mot behandling samt rätten till dataportabilitet.</p>
    <p>Du har rätten att när som helst <strong>återkalla ditt samtycke</strong>, utan att detta påverkar lagligheten av behandlingen på grundval av samtycket, innan detta återkallades. Detta gör du genom att kontakta personuppgiftsansvariga.</p>
    <p>Du har rätten att inge klagomål till en tillsynsmyndighet.</p>
    <br>

    <hr>
    <h1>Personuppgiftsansvarig</h1>
    <h2>Andreas Behrendtz | <a href="mailto:personuppgiftsansvarig@isektionen.se">personuppgiftsansvarig@isektionen.se</a></h2>
    <br>
    <br>
{% endblock %}