{% extends "master.html" %}

{% block hero %}
{% endblock %}


{% block content %}
    <h1>Generella dataskyddsförorningen (GDPR)</h1>
    <p>Den 25:e Maj 2018 trädde den generella dataskyddsförordningen i kraft och ersatte PUL. Vi ber dig därför se över följande information noggrant så att du är medveten om dina rättigheter.</p><br>
    <p>Skulle du ha några som helst frågor, får du gärna höra av dig till personuppgiftsansvarig, vars kontaktuppgifter du finner längst ner på sidan.</p>
    <br>
    <hr>
    <h2>Ändamål för informationslagringen</h2>
    <p>Vi använder den information du lämnar till oss för att kunna erbjuda ett antal olika tjänster:</p>
    <ul style="list-style-type: circle;">
        <li>Utskick av sektionstidningen ipikuré</li>
        <li>Anmälan till olika event</li>
        <li>Röstning på olika event</li>
        <li>Identifiering för talarlistan vid olika event</li>
        <li>Bokning av sektionens materiel och fakturering för användning av dessa</li>
        <li>Erbjuda mat enligt dina matpreferenser (allergier/specialkost) vid olika event</li>
        <li>Tillgång till sektionens interna dokument</li>
        <li>Tillgång till studieinformation</li>
        <li>Tillgång till kursutvärderingar (utförda av sektionen)</li>
    </ul>
    <br>
    <hr>
    <h2>Information vi lagrar om dig</h2>
    <p>Vi lagrar endast information som du angivit och gett ditt uttryckliga samtycke för. Detta innefattar:</p>
    <ul style="list-style-type: circle;">
        <li>LiU:ID</li>
        <li>För- och efternamn</li>
        <li>Adress</li>
        <li>Kön*</li>
        <li>Ditt lösenord, krypterat</li>
        <li>Allergier/specialkost</li>
        <li>Startår</li>
        <li>Klass</li>
        <li>Nuvarande årskurs</li>
        <li>Kandidatprofil</li>
        <li>Masterprofil</li>
        <li>Telefonnummer*</li>
        <li>RFID för din studentlegitimation*</li>
    </ul>
    <br>
    <p><em>*Valfria, dessa behöver ej anges för att få tillgång till alla i-portalens tjänster.</em></p>
    <br>
    <p>Tillhandahållandet av denna information utgör ett avtalsenligt krav där Sektionen för Industriell Ekonomi inte kan erbjuda dig de definierade tjänster eller tillgång till sektionens evenemang skulle du välja att inte tillhandahålla den krävda informationen.</p>
    <br>
    <p>Utöver detta lagrar vi samtliga av dina anmälningar till event för att garantera en plats åt dig och föra statistik kring dessa.</p>
    <br>
    <p>Informationen om dig lagras på ett säkert sätt och krypteras där det är möjligt. Tillgång till din personliga information begränsas till att endast täcka de uttryckligt angivna ändamålen och den kontinuerliga utvecklingen och underhållet av sidan. Din information lämnas <strong>inte</strong> till tredje part.</p>
    <br>
    <p>Dina personuppgifter lagras tills dess att du återkallar ditt samtycke alternativt ett år efter du avslutat dina studier på programmet Industriell Ekonomi vid Linköpings universitet, det datum som infaller först.</p>
    <br>
    <hr>
    <h1>Dina rättigheter</h1>
    <p>Du har rätten att av den personuppgiftsansvarige begära <strong>tillgång till</strong> och <strong>rättelse</strong> eller <strong>radering</strong> av personuppgifter eller <strong>begränsning</strong> av behandling som rör dig eller att invända mot behandling samt rätten till dataportabilitet.</p>
    <p>Du har rätten att när som helst <strong>återkalla ditt samtycke</strong>, utan att detta påverkar lagligheten av behandlingen på grundval av samtycket, innan detta återkallades. Detta gör du genom att kontakta personuppgiftsansvariga.</p>
    <p>Du har rätten att inge klagomål till en tillsynsmyndighet.</p>
    <br>
    <hr>
    <h1>Personuppgiftsansvarig och dataskyddsombud</h1>
    <h2>Edvin Modigh</h2>
    <p>Kontakt: <a href="mailto:inka@isketionen.se">inka@isektionen.se</a></p>
    <p>Vid akuta fall: 07070707007</p>
{% endblock %}