{% load staticfiles %}
{% load organisation_tags %}
{% load booking_tags %}
{% get_menu_organisations as menu_orgs %}
{% get_all_bookables as bookables %}
<header class="navigation" role="banner">
    <div class="navigation-wrapper">
        <a href="/" class="logo">
            <img src="https://s3.amazonaws.com/iportalen-us/images/iportalen_logo.png" alt="Logo Image">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">
                <li class="nav-link"><a href="javascript:void(0)">Kalender</a></li>
                <li class="nav-link more"><a href="javascript:void(0)">Sektionen</a>
                    <ul class="submenu">
                        <div class="submenu-column">
                            {% for o in menu_orgs.sektionen %}
                                <li><a href="{{ o.get_absolute_url }}">{{ o|title }}</a></li>
                                {% cycle 'False' 'False' 'False' 'False' 'True' as new_col silent %}
                                {% if new_col == 'True' %}
                                </div>
                                <div class="submenu-column">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                        <li class="nav-link more"><a href="">Föreningar</a>
                            <ul class="submenu">
                                <div class="submenu-column">
                                    {% for o in menu_orgs.foreningar %}
                                        <li><a href="{{ o.get_absolute_url }}">{{ o|title }}</a></li>
                                        {% cycle 'False' 'False' 'False' 'False' 'True' as new_col silent %}
                                        {% if new_col == 'True' %}
                                        </div>
                                        <div class="submenu-column">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </ul>
                        </li>
                        <li class="nav-link more"><a href="javascript:void(0)">Tjänster</a>
                            <ul class="submenu">
                                <div class="submenu-column">
                                    {% for bookable in bookables %}
                            <li><a href="{{ bookable.get_absolute_url }}">{{ bookable.name|title }}</a></li>
                        {% endfor %}
                                    <li><a href="{% url "glasscubes storage" %}">Filarkiv</a></li>
                                    <li><a href="{% url 'course_evaluations:evaluate course' %}">Utvärdera en kurs</a></li>

                                    <li><a href="{% url "subscribe_to_ipikure" %}">Anmälan Ipikuré</a></li>
                                </div>
                            </ul>
                        </li>
                    </ul>
            </li>
        </nav>
        <div class="navigation-tools">
            <ul class="user-nav-tools">
            {% if request.user.is_authenticated %}

                <li class=user-tools-button">
                    <a href="{% url 'events:registered on' %}"><i class="fa fa-calendar"></i><span>Anmälningar</span></a>
                </li>
                <li class=user-tools-button">
                    <a href="{% url 'bookings:my bookings' %}">
                        <i class="fa fa-calendar-check-o"></i><span>Bokningar</span>
                    </a>
                </li>
                <li class=user-tools-button">
                    <a href="{% url 'my page' %}"><i class="fa fa-user"></i><span>Konto</span></a>
                </li>
                <li class=user-tools-button">
                    <a href="{% url 'user content' %}"><i class="fa fa-plus"></i><span>Innehåll</span></a>
                </li>


                {% else %}

                <li class="user-tools-button">
                    <a href="/user/login" id="header-login-button" class="action-button">Logga in</a>
                </li>

            {% endif %}
            </ul>

        </div>
    </div>
</header>
