<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
    <title>I-portalen</title>
</head>
<body>
    <header role="banner">
            <nav role="navigation">
                <img src="logo.svg" alt="logo">
                <div id="menu-toggle">
                    <span>MENU</span>
                </div>
                <ul id="navigation-menu" class="show">
                    <li><a href="#">Start</a>
                    </li>
                    <li><a href="#">Kalender</a>
                    </li>
                    <li class="more"><a href="#">Om sektionen</a>
                        <!-- A WRAPPER TO CONTROL FLEX DIRECTION FOR SUBMENUS -->
                        <div class="submenu-wrapper show">
                        <ul class="submenu">
                            <li>Sektionen</li>
                            <li><a href="#">Styret</a></li>
                            <li><a href="#">Historia</a></li>
                            <li><a href="#">Valberedningen</a></li>
                        </ul>
                        <ul class="submenu">
                            <li>Utskott</li>
                            <li><a href="#">Informationsutskottet</a></li>
                            <li><a href="#">Marknadsföringsutskottet</a></li>
                            <li><a href="#">Näringslivsutskottet</a></li>
                            <li><a href="#">Studienämnden</a></li>
                            <li><a href="#">Intendentutskottet</a></li>
                            <li><a href="#">Informationsutskottet</a></li>
                            <li><a href="#">Alumniutskottet</a></li>
                            <li><a href="#">Börsgruppen</a></li>
                        </ul>
                        <ul class="submenu">
                            <li>Föreningar</li>
                            <li><a href="#">IQ</a></li>
                            <li><a href="#">Clubmästeriet</a></li>
                            <li><a href="#">ESTEIM</a></li>
                            <li><a href="#">Case-gruppen</a></li>
                            <li><a href="#">PUBis</a></li>
                            <li><a href="#">Integrera</a></li>
                            <li><a href="#">Börsgruppen</a></li>
                        </ul>
                            </div>
                    </li>
                    <li><a href="#">Studier</a>
                    </li>
                    <li><a href="#">Tjänster</a>
                    </li>

                </ul>
            </nav>
    </header>
    <section class="hero">
        <h1 id="hero-logo">Industriell ekonomi</h1>
    </section>
    <div id="content">
        <section id="news-feed">
            <h4>Nyheter</h4>
            <article class="news-preview">
                <div class="meta">
                    <span class="date">2015-06-16</span>
                    <span class="author">Webgroup</span>
                    <span class="tags">iportalen, karriärveckan</span>
                </div>
                <h5>Ribeye tongue shoulder brisket</h5>
                <p>Bacon ipsum dolor amet leberkas pancetta short loin, landjaeger porchetta chuck rump. Ribeye tongue shoulder brisket ball tip pork chop. Sausage salami pig cupim turkey.</p>
                <button class="btn-read-more">Läs mer</button>
            </article>
            <article class="news-preview">
                <div class="meta">
                    <span class="date">2015-03-14</span>
                    <span class="author">NärU</span>
                    <span class="tags">klimatveckan, team</span>

                </div>
                <h5>Bacon ipsum dolor amet prosciutto tri-tip fatback turducken</h5>

                <p>Filet mignon short ribs ball tip boudin ribeye turducken meatloaf. Tongue tri-tip ham tail chicken, meatloaf filet mignon leberkas hamburger frankfurter turducken pork sirloin beef.</p>
                <div class="meta">

                </div>
                <button class="btn-read-more">Läs mer</button>

            </article>

        </section>

        <section id="upcoming">
            <h4>Kommande</h4>
            <article class="event-preview">
                <h5>Excelutbildning med Knowit</h5>
                <div class="meta">
                    <span class="date">
                        <span class="meta-content">5 Jan 2015</span>
                    </span>
                    <span class="time">
                        <span class="meta-content">17:15</span>
                    </span>
                    <span class="place">
                    <span class="meta-content">Märkesbacken</span>
                    </span>
                    <!--
                    <span class="attendees">
                        <span class="meta-content">27/30</span>
                    </span>
                    <span class="last-sign-up">
                        <span class="meta-content">5 Sep 2015</span>
                    </span>-->
                </div>
                <button>Info</button>
                <button>Anmäl</button>
            </article>
            <article class="event-preview">
                <h5>I-gasquen 2015</h5>
                <div class="meta">
                    <span class="date">
                        <span class="meta-content">5 Jan 2015</span>
                    </span>
                    <span class="time">
                        <span class="meta-content">17:15</span>
                    </span>
                    <span class="place">
                    <span class="meta-content">C2</span>
                    </span>
                </div>
                <button>Info</button>
                <button>Anmäl</button>
            </article>
            <article class="event-preview">
                <h5>Mingla med TEAM2015</h5>
                <div class="meta">
                    <span class="date">
                        <span class="meta-content">17 Jan 2012</span>
                    </span>
                    <span class="time">
                        <span class="meta-content">17:15</span>
                    </span>
                    <span class="place">
                    <span class="meta-content">C2</span>
                    </span>
                </div>
                <button>Info</button>
                <button>Anmäl</button>
            </article>
        </section>
        <section id="sponsors">
            <h4>Sponsorer</h4>
        </section>

    </div>
    <section id="footer">
        <h4>footer</h4>
        <div id="footer-content">Hello world</div>
    </section>


    <div id="modal">
        <section>
            <h4>This is the modal header</h4>
            <p>This is modal content</p>
        </section>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/iportalen.js"></script>


    </body>

</html>

