{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load iportalen_tags %}
{% load tag_tags %}
{% include "header.html" %}

{% block content %}
    {# gets all articles via template tag #}
    <section id="news-feed">

{% load iportalen_tags %}
{% get_sponsored_content as sponsored_content %}
        <div class="sponsored_container">
            <div id="sponsored_feed_container" class="sponsored_feed_container" style="display: none;" >
                <div class="sponsored_feed_headline"><a href="{% url "sponsored" %}" class="content-type-nav">Senaste:</a></div>
                <div id="sponsored_feed_content">
                    <ul style="display: block; overflow: hidden">
                        {% for c in sponsored_content %}
                            <li><strong><a href="{{ c.get_absolute_url }}">{{ c.headline|truncatechars:62 }}</a></strong></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden content-type-nav">Filtrera</a>
            <div class="expander-content">
                <div class="tag-container">
                    {% get_tags as tags %}
                    {% for tag in tags %}
                        <div class="tag"><label><input type="checkbox" name="tags" value="{{ tag.pk }}"> {{ tag.name }}</label></div>
                    {% endfor %}
                </div>
                <button class="action-button" onclick="get_news_content('{% url 'news api' %}')">Filtrera</button>
                <div style="clear: both"></div>
            </div>
        </div>
        <hr>
       <div id="news-content">

       </div>
    </section>

{% endblock %}
{% block after_scripts %}
    <script>
        jQuery(document).ready(function () {
            $('.expander-trigger').click(function(){
                $(this).toggleClass("expander-hidden");
            });
            get_news_content('{% url 'news api' %}');
            $('#sponsored_feed_container').show();
            $(function() {
                $('#sponsored_feed_content').vTicker();
            });
        });
    </script>
{% endblock %}

