{# This file defines the front page and is a own kind of master page #}
{% load staticfiles %}
<!--
{% include "asciiart.html" %}
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Originalet sedan 1969. Industriell ekonomi i Linköping - en av Sveriges mest eftertraktade  civilingenjörsutbildningar. Framgångsrika ingenjörer som bemästrar både teknik, matematik och affärsverksamhet">
    <meta name="keywords" content="Industriell Ekonomi isektionen i-portalen iportalen civilingenjör">

    <meta property="og:site_name" content="I-portalen" />
    <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/mailfooter/isektionen_logo.png" />
    <meta name="theme-color" content="#2D701E"><!-- Very nice feature on newish android phones where the color is shown on the chrome menu. -->
    {% include "stylesheets.html" %}
    <link rel="shortcut icon" type="image/png" href="{% static "iportalen/favicon.ico" %}"/>
    <title>I-portalen: {% block page_subtitle %}Originalet sedan 1969.{% endblock %}</title>
    {% block head %} {% endblock %}
</head>
<body>
    {% include "analytics.html" %}
    {% block navbar %}
    {% include "header.html" %}
    {% endblock %}
    {% if messages %}
        <div id="message-box">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <span>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</span>
                    <button type="button" onclick="closeMessage(this)">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% block hero %}
    {% load static from staticfiles %}
    <section class="hero-top">
        <img src="https://s3.amazonaws.com/iportalen-us/static/iportalen/hero-karriarveckan.jpg">
        <div class="hero-content">
        </div>
    </section>

{% endblock %}
    <div id="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    {% block sponsors %}
    {% include 'sponsors.html' %}
    {% endblock %}
    </div>
    <div class="alertWrp" style="display: block;">
          <p>På i-portalen.se använder vi kakor (cookies) för att webbplatsen ska fungera på ett bra sätt för dig.</p><p>Genom att surfa vidare godkänner du att vi använder kakor. <a href="{% url 'cookies' %}">Vad är kakor?</a> <a href="#" id="cookieClose">Jag förstår</a></p>
    </div>


    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

{% include "scripts.html" %}
{% block after_scripts %}{% endblock %}
<script>
    jQuery(document).ready(function () {
        shuffle_sponsors();
        sliding_panel();
        modal();
        cookiemonster();

    });
</script>

</body>
</html>
