{# This file defines the front page and is a own kind of master page #}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheets.html" %}
    <link rel="shortcut icon" type="image/png" href="{% static "iportalen/favicon.ico" %}"/>
    <title>I-portalen{% block page_subtitle %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>

<body>
<div class="js-menu-screen sliding-panel-fade-screen"></div>

{% include "userpanel.html" %}
<div id="master-container">
    {% include "header.html" %}
    {% if messages %}
        <div id="message-box">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <span>{{ message }}</span>
                    <button type="button" onclick="closeMessage(this)">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div id="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sponsors">
            <h1>Huvudsponsor</h1>

            <div class="sponsor">
                <a href="http://karriar.scania.com/" target="_blank" title="Scania">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/scania.jpg" alt="Scania">
                </a>
            </div>

            <div id="partners1">
                <h1>Samarbetspartners</h1>

                <div id="partners">
                    <div class="sponsor">
                        <a href="https://www.accenture.com/se-en/Careers.aspx" target="_blank" title="Accenture">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/Accenture.jpg"
                                 alt="Accenture">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.ey.com/SE/sv/Careers/Students" target="_blank" title="EY">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/EY_Logo5.jpg" alt="EY">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.ericsson.com/careers/career-areas/spp" target="_blank" title="Ericsson">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/Ericsson+Management+Consulting+Logo+2.jpg"
                                 alt="Ericsson">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.knowit.se/Karriar/" target="_blank" title="Knowit">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/Knowit.png" alt="Knowit">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://nepa.com/" target="_blank" title="Nepa">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/Nepa.png" alt="Nepa">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.appliedvaluegroup.com/#about" target="_blank" title="Applied value">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/applied.jpg"
                                 alt="Applied value">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.centigo.se/" target="_blank" title="Centigo">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/centigo.jpg" alt="Centigo">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.cupole.se/en/" target="_blank" title="Cupole">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/cupole.png" alt="Cupole">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.industrikompetens.se/" target="_blank" title="Industrikompetens">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/industrikompetenslogotype.png"
                                 alt="Industrikompetens">
                        </a>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.triathlon.se/" target="_blank" title="Triathlon">
                            <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/triathlon.png"
                                 alt="Triathlon">
                        </a>
                    </div>
                </div>
            </div>


        </div>


    </div>
    {% include "footer.html" %}
</div>

{% include "modal.html" %}

{% include "scripts.html" %}
{% block after_scripts %}{% endblock %}
<script>
    jQuery(document).ready(function () {
        shuffle_sponsors();
        sliding_panel();
    });

</script>


</body>
</html>