{% extends "master.html" %}

{% block hero %}
{% endblock %}


{% block content %}
<p>Enligt PuL måste vi be dig samtycka till att vi behandlar lämnade uppgifter om dig i egenskap av medlem i Sektionen för Industriell ekonomi vid Linköpings universitet. De personuppgifter som du lämnar kommer att behandlas med datorteknik av föreningen, som är ansvarig för behandlingen.</p>

<p>Uppgifterna kommer att behandlas inom ramen för det ändamål som föreningen har. Det innebär att lämnade uppgifter avseende namn, adress, telefonnummer, e-postadress, födelsedatum, allergier, specialkost och utbildningsprofil kommer att registreras och helt eller delvis finnas utlagda på föreningens hemsida. Uppgifter är försedda och lagrade under frivillig basis av dig som användare. Uppgifterna kan även komma att skickas till externa parter inom ramen för Sektionen för Industriell ekonomi vid Linköpings universitets verksamhet.</p>

<p>Du har rätt att få ta del av de personuppgifter som vi registrerat om dig. Om de är felaktiga, ofullständiga eller irrelevanta har du rätt att begära att uppgifterna ska rättas eller raderas. Uppgifterna raderas när medlemskapet upphör eller på anmodan från dig.</p>
{% endblock %}