{% comment %}
This file is included by master.html, it specifies the scripts to be loaded.

It is modified during the deployment (to openshift).
{% endcomment %}

{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{% static "iportalen/js/jquery.datetimepicker.full.min.js" %}"></script>
<script src=" {% static "js/iportalen.js" %}"></script>
{% load iportalen_tags %}
{% comment %}
{% if in_debug %}
{% else %}
<script src=" {% static "iportalen/js/iportalen.min.js" %}"></script>
{% endif %}
{% endcomment %}