<div id="sponsors">

    <div id="partners1">
        <h1>Samarbetspartners</h1>

        <div id="partners">
            <div class="sponsor">
                <a href="https://www.bcg.com/careers/default.aspx" target="_blank" title="BCG">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/BCG.jpg"
                         alt="BCG">
                </a>
            </div>
            <div class="sponsor">
                <a href="https://www.accenture.com/se-en/Careers.aspx" target="_blank" title="Accenture">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/Accenture.jpg"
                         alt="Accenture">
                </a>
            </div>
            <div class="sponsor">
                <a href="http://www.ey.com/SE/sv/Careers/Students" target="_blank" title="EY">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/EY_Logo5.jpg" alt="EY">
                </a>
            </div>
            <div class="sponsor">
                <a href="http://www.appliedvaluegroup.com/#about" target="_blank" title="Applied value">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/applied.jpg"
                         alt="Applied value">
                </a>
            </div>
            <div class="sponsor">
                <a href="https://www.knowit.se/" target="_blank" title="Knowit">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/Knowit.png"
                         alt="Knowit">
                </a>
            </div>
            <div class="sponsor">
                <a href="https://qvartz.com/" target="_blank" title="Qvartz">
                    <img src="https://iportalen-us.s3.amazonaws.com/static/sponsorer/Qvartz.jpg" alt="Qvartz">
                </a>
            </div>
            <div class="sponsor">
                <a href="http://www.cupole.se/" target="_blank" title="Cupole">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/cupole.png" alt="Cupole">
                </a>
            </div>
            <div class="sponsor">
                <a href="https://www.se.capgemini-consulting.com/careers/start-your-career-with-us" target="_blank" title="Capgemini">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/capgemini.jpg"
                         alt="Capgemini">
                </a>
            </div>
            <div class="sponsor">
                 <a href="https://www.ericsson.com/en/careers/career-areas/strategic-programs-practice" target="_blank" title="Ericsson Management Consulting">
                     <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/emc.jpg"
                          alt="Ericsson Management Consulting">
                 </a>
            </div>
            <div class="sponsor">
                 <a href="https://www.bearingpoint.com/en-se/" target="_blank" title="BearingPoint">
                     <img src="https://s3.amazonaws.com/iportalen-us/static/sponsorer/bearing_point.png"
                          alt="BearingPoint">
                 </a>
            </div>
        </div>
    </div>
</div>
