{% comment %}
This page is included by the master.html page. It specifies the stylesheets in use.

This file is modified during the deploy cycle to instead include minified verisons of the stylesheets.

{% endcomment %}
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "iportalen/css/jquery.datetimepicker.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" type="text/css">
{% load iportalen_tags %}
{% is_debug as in_debug %}
{% if in_debug %}
<link rel="stylesheet" href="{% static "css/iportalen.css" %}">
{% else %}
<link rel="stylesheet" href="{% static "iportalen/css/iportalen.min.css" %}">
{% endif %}