.hero-top
  @extend .top-hero
  +section-cover-background("https://iportalen-us.s3.amazonaws.com/static/iportalen/HERO.jpg")

#news-feed
  //holds all links above newsfeed
  #content-select-nav
    margin-bottom: 2em
  a.content-type-nav
    text-transform: uppercase
    color: darken($light-gray, 30%)
    padding: 0.2em
    margin-bottom: 2em
    font-weight: bold
    +media ($large-screen)
      margin-right: 2em
  .active
    border-bottom: 2px solid $isektionen-yellow

  +span-columns(12)
  +media($large-screen-up)
    +span-columns(7)

#upcoming
  +span-columns(12)
  +media($large-screen-up)
    +span-columns(3)

#upcoming-calender
  +span-columns(12)
  +media($large-screen-up)
    +span-columns(8)

.sponsored_feed_container
  @include clearfix
  border-left: solid 3px $isektionen-green
  padding-left: 10px

.sponsored_container
  hr
    border-bottom: 1px solid darken($light-gray, 20%)
    border-left: none
    border-right: none
    border-top: none
    margin: $base-spacing 0

  .sponsored_feed_headline
    +media($large-screen-up)
      +span-columns(1.7 of 8)
      +omega()

  #sponsored_feed_content
    +media($large-screen-up)
      +span-columns(6.3 of 8)
