#container
  +outer-container()
#content
  +fill-parent()
  +media($large-screen)
    +span-columns(10)
  padding: 1em
#sponsors
  padding: 1em
  +span-columns(12)
  +media($large-screen)
    +span-columns(2)
  text-align: center
  .sponsor
    min-height: 60px
    vertical-align: middle
    margin: 10px
    border: 1px solid #dfddde
    text-align: center
  img
    max-width: 100%
    max-height: 60px
    padding: 10px
  h1
    font-size: 1.0em
    width: 100%
    padding-bottom: 5px
    border-bottom: 1px solid #dfddde
