#master-container
  position: relative
  +transition(1s ease-out)
  z-index: 1
#container
  +outer-container()
  #content
    padding: 1em
    +span-columns(12)
    +media($large-screen-up)
      +span-columns(6 of 8)
  #sponsors
    padding: 1em
    +span-columns(12)
    +media($large-screen-up)
      +span-columns(2 of 8)