#organisation
  +display(flex)
  +flex-direction(column)
  +span-columns(10)
  margin-bottom: 1em
  h1
    font-weight: 700
    font-size: 30px
    padding-bottom: 5px
    padding-top: 16px
    border-bottom: 3px solid $light-gray
    text-align: left
    color: $isektionen-green
    margin-bottom: 0.5em
  img
    +span-columns(10)
    margin-bottom: 1em
  #organisation-presentation
    +span-columns(10)
    h1
      text-align: left
      font-weight: 700
      font-size: 30px
      color: $gray
      margin-bottom: .1em
      border-bottom: none
    border-radius: 3px
    border-left: 3px solid $isektionen-brightgreen
    padding: 0px 15px 15px 15px
    margin-bottom: 1em
  #organisation-contact-info
    +span-columns(10)
    border-radius: 3px
    border-left: 3px solid $isektionen-brightyellow
    padding: 0px 15px 15px 15px
    margin-bottom: 1em
  #organisation-members
    +span-columns(10)
    border-radius: 3px
    border-left: 3px solid $isektionen-brightyellow
    padding: 0px 15px 15px 15px
    margin-bottom: 1em
