#organisation-content
  +outer-container()
  margin-top: 2em
  h1
    margin: 0
    font-size: 2em
  #organisation-description
    +span-columns(12)
    +media($large-screen-up)
      +span-columns(4 of 8)
  #organisation-members
    +span-columns(12)
    +media($large-screen-up)
      +span-columns(4 of 8)
      +omega()
  #organisation-articles
    +span-columns(12)
    +media($large-screen-up)
      +span-columns(4 of 8)
  #organisation-events
    +span-columns(12)
    +media($large-screen-up)
      +span-columns(4 of 8)
      +omega()
