{% extends "master.html"%}
{% load iportalen_tags %}
{% block hero %}
{% endblock %}
{% block content %}
    <h1>{{ question.name }}</h1>
    {{ question.body|markdown }}

    <p>Minsta antal val: {{ question.min_nr_of_picks }}</p>
    <p>Max antal val: {{ question.nr_of_picks }}</p>
    <form action="" method="post">
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
        <p class="errorlist">{{ error }}</p>
    {% endfor %}
    {% endfor %}
    {% csrf_token %}
        <ul>
            {% for field in form.options %}
                <li>{{ field }} {{ field.errors }}</li>
            {% endfor %}
        </ul>
        {% if question.verification %}
            {{ form.verification.label }}{{ form.verification }} {{ form.verification.errors }}
        {% endif %}
        <br>
        <a href="{% url 'votings:question group' question.question_group_id %}" class="button">Tillbaka</a>
        <input class="button action-button" type="submit" name="vote" title="Rösta" value="Rösta">
    </form>
{% endblock %}