@mixin section-cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"scroll") {
  $hero-overlay-gradient: linear-gradient(rgba(black, 0.5), rgba(black, 0.5));
  background: {
    image: $hero-overlay-gradient, url($img-uri);
    position: unquote($background-top) unquote($background-left);
    attachment: unquote($background-attachment);
    size: cover;
  }

  @include media($large-screen) {

    background-attachment: fixed;

  }

}