{% extends "master.html" %}

{% block hero %}
{% endblock %}
{% block sponsors %}
{% endblock %}
{% block content %}
    <p>Tabellen ser stökig ut men den går att kopiera ifrån.</p>
    <p>Denna tabell innehåller alla användare. Denna tabell kan kopieras in i excel samt direkt in i mailchimp.
    Kolumnen kön avser vilket kön användare angivit (m=man, w=kvinna, u=vill ej ange, o=annat eller ickebinär).
    Startår avser året användaren började I. Teknisk- samt Masterprofil är de valda profilerna, None betyder att
        ingen profil ännu är vald. Kolumnen medlem indikerar om användaren är medlem. 'True' betyder att användaren
    aktivt är medlem. 'False' betyder att användaren aktivt inte är medlem. None indikerar att användaren ännu inte
    valt att bli medlem (eller valt att inte bli medlem).
    </p>
    {% if users %}
        <table>
            <thead>
                <tr>
                    <th class="email">Mailadress </th>
                    <th class="first_name">Förnamn</th>
                    <th class="last_name">Efternamn</th>
                    <th>Kön</th>
                    <th>Startår</th>
                    <th>Nuvarande Åk</th>
                    <th>Klass</th>
                    <th>Teknisk inriktning</th>
                    <th>Master profil</th>
                    <th>Medlem?</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name|title }}</td>
                        <td>{{ user.last_name|title}}</td>
                        <td>{{ user.get_gender_display|title }}</td>
                        <td>{{ user.start_year }}</td>
                        <td>{{ user.current_year }}</td>
                        <td>{{ user.get_klass_display }}</td>
                        <td>{{ user.bachelor_profile }}</td>
                        <td>{{ user.master_profile }}</td>
                        <td>{{ user.is_member }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}