{% extends "master.html" %}

{% block hero %}
{% endblock %}


{% block content %}
<h1>Cookies</h1>

<p>Sektionen för Industriell ekonomis webbplats använder cookies. Alla som besöker en webbplats som använder cookies måste enligt lag få information om att webbplatsen innehåller cookies, vad de används till och hur man kan välja bort dem.</p>

<p>En cookie är en liten textfil som lagras på besökarens dator och innehåller information. Cookies används normalt för att förbättra webbplatsen för besökaren. Det finns två typer: </p>

<p>Den ena typen sparar en fil som ligger kvar på besökarens dator. Filen används t.ex. för att besökaren lättare ska kunna använda webbplatsen utifrån sina önskemål och intressen. </p>

<p>Den andra typen kallas sessionscookie. Under tiden en besökare är inne på en webbsida lagras den temporärt i besökarens dators minne. Sessionscookies försvinner när besökaren stänger sin webbläsare. Ingen personlig information, t.ex. e-post eller namn, sparas om besökaren. </p>

<p>På sektionen för Industriell ekonomis webbplats används båda typerna av cookies. När du besöker vår webbplats skickas en sessionscookie mellan din dator och vår webbserver för att bland annat underlätta navigering. Sessionscookies används också när du använder våra e-tjänster. Cookien försvinner när du avslutat besöket.</p>

<p>Om du som besökare inte accepterar att webbplatsen använder cookies kan du stänga av funktionen via din webbläsares säkerhetsinställningar. Du kan även ställa in webbläsaren så att du får en varning varje gång webbplatsen försöker sätta en cookie på din dator. </p>

<p>Om du inte vill att cookies lagras på din dator kan du stänga av även den funktionen i din webbläsares inställningar. Då kommer inga cookies att lagras, men du kommer inte heller kunna använda vissa funktioner på webbplatsen. </p>

<p>Allmän information om cookies och den nya lagen om elektronisk kommunikation finns på Post- och telestyrelsens webbplats.</p>

<p><a href="http://www.pts.se/sv/Bransch/Regler/Lagar/Lag-om-elektronisk-kommunikation/Cookies-kakor/">Mer om Cookies på Post- och telestyrelsens webbplatslänk till annan webbplats</a></p>

<h2>Analysverktyg för webbstatistik</h2>
<p>Sektionen för Industriell ekonomis webbplats använder Google Analytics för att få en bild av hur besökare använder webbplatsen. Följande cookies skapas: </p>

<p><strong>__utma</strong> är en permanent cookie som används för att särskilja användare och sessioner/besök. Den uppdateras vid varje sidvisning, och förfaller två år efter att den sätts eller senast uppdateras.</p>
<p><strong>__utmb</strong> är en sessionscookie som används för att beräkna nya sessioner/besök. Den uppdateras vid varje sidvisning, och förfaller 30 minuter efter att den sätts eller senast uppdateras.</p>
<p><strong>__utmc</strong> är en sessionscookie som används med "__utmb" för att räkna ut om ett nytt besök görs på webbplatsen (30 minuters inaktivitet räknas som ett nytt besök). Den förfaller när webbläsaren stängs.</p>
<p><strong>__utmt</strong> är en sessionscookie som används för att beräkna webbplatshastighet. Den förfaller 10 minuter efter det att den sätts.</p>
<p><strong>__utmz</strong> är en permanent cookie som används för att mäta trafikkällor och navigering på webbplatsen (exempelvis vilken sökmotor som används för att nå skatteverket.se). Den förfaller sex månader efter att den sätts eller senast uppdateras.</p>
<p>Informationen som skapas av dessa cookies genom din användning av webbplatsen (inklusive din IP-adress) kommer att vidarebefordras till och lagras av Google på servrar i USA. Denna information används i syfte att utvärdera besöksstatistik. Exempelvis så använder vi rapporter av besöken på webbplatsen för att förbättra såväl innehåll som navigation och struktur. Google kan också överföra denna information till tredje parter om det krävs enligt lag eller i de fall en tredje part behandlar informationen för Googles räkning. Google kommer inte att koppla samman IP-adresser med annan data som Google innehar. </p>

<p>Sektionen för Industriell ekonomis har ställt in Google Analytics så att verktyget anonymiserar den information som skickas till Google. Detta görs genom att Google Analytics trunkerar (tar bort) de sista siffrorna i besökarnas IP-adress innan uppgiften skickas till Google.</p>

<h2>Nej till webbstatistik?</h2>
<p>Om du inte vill att dina besök på vår webbplats ska visas i statistiken i Google Analytics kan du installera ett tillägg i din webbläsare. Tillägget finns för webbläsarna Internet Explorer, Chrome, Firefox, Safari och Opera. </p>

<p>Google Analytics "Opt-out" tillägg till webbläsare, på engelskalänk till annan webbplats</p>
<p>Sekretesspolicy på Google Analytics webbplatslänk till annan webbplats</p>

    <a href="http://www.riksdagen.se/sv/Dokument-Lagar/Lagar/Svenskforfattningssamling/_sfs-2003-389" title=" (länk till annan webbplats, öppnas i nytt fönster)" class="normal" rel="external" target="_blank">Lag (2003:389) om elektronisk kommunikation</a>
{% endblock %}
