{% extends "master.html" %}

{% block navbar %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block sponsors %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}
    <div id="membership">
        <h1>Ange uppgifter</h1>
        <p>Innan du kan gå vidare så behöver du fylla i lite fler uppgifter:</p>
        <p><em>Vi samlar in addressuppgifterna för att kunna dela ut ipikuré. Övriga uppgifter används för att underlätta sektionens arbete och ge dig som användare en bättre upplevelse.</em></p>
        <form action="{% url "user_management:force user info" %}" method="post">
            {% csrf_token %}
            {{ form }}
             <input class="username-holder" type="text" name="username" placeholder="Liu-id">
            <input class="password-holder" type="password" name="password" placeholder="Lösenord">
            <div class="button-group">
            <button class="action-button" type="submit">Spara och logga in</button>
                </div>
        </form>
    </div>
{% endblock %}

