{% extends "master.html" %}

{% block navbar %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block sponsors %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}
    <div id="membership">
        <h1>Ange uppgifter</h1>
        <p>Innan du kan gå vidare så behöver du fylla i och kontrollera några uppgifter:</p>
        <p>Vi ber er att läsa genom vår information angående GDPR: <a target="_blank" href="{% url 'gdpr' %}">vilken du finner här.</a></p>
        <br>
        <form action="{% url "user_management:force user info" %}" method="post">
            {% csrf_token %}
            {{ form }}
             <input class="username-holder" type="text" name="username" placeholder="Liu-id">
            <input class="password-holder" type="password" name="password" placeholder="Lösenord">
            <div class="button-group">
                <br>
                <hr>
                <label class="required" for="id_gdpr">Jag ger härmed mitt samtycke att informationen jag angivit används för de uttryckta ändamålen och är medveten om mina rättigheter (<a target="_blank" href="{% url 'gdpr' %}">läs om GDPR</a>):</label>
                <select id="id_gdpr" name="accept_gdpr" required>
                    <option value="">---------</option>
                    <option value="1">Jag ger mitt samtycke och är medveten om mina rättigheter</option>
                    <option value="2">Jag ger inte mitt samtycke (DIN INFORMATION RADERAS)</option>
                </select>

            <button class="action-button" type="submit">Spara och logga in</button>
                </div>
        </form>
    </div>
{% endblock %}

