{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load article_tags %}
{% include "header.html" %}

{% block content %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
<form action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="ABCDE123">
    <input type="password" name="password" placeholder="********">
    <input type="submit">
</form>
{% endblock %}

{% include "scripts.html" %}
</body>
</html>