{% extends "master.html" %}
{# This file defines the front page and is a own kind of master page #}
{% load article_tags %}
{% load staticfiles %}
{% include "header.html" %}
{% block hero %}
        <section class="hero" style="background-image:url({% static 'iportalen/hero_picture.jpg' %})">
            <h1 id="hero-logo">i&#8209;portalen</h1>
        </section>
{% endblock %}
{% block content %}
    <div class="outer-form-div">
        <div class="form-div">
            <h4>Logga in på I-Portalen</h4>
            <form class="login-form" action="{{ request.get_full_path }}" method="post">
            {% csrf_token %}
            <input class="username-holder" type="text" name="username" placeholder="Liu-id">
            <input class="password-holder" type="password" name="password" placeholder="Lösenord">
            <input class="submit-holder primary" type="submit" value="Logga in">
            </form>
            <a href="{% url "password_reset" %}">Återställ lösenordet/Ny användare</a>
        </div>
    </div>
{% endblock %}

{% include "scripts.html" %}
</body>
</html>