{% extends "master.html" %}

{% block hero %}
{% endblock %}

{% block content %}
    <form action="{% url "filter users" %}" method="post">
        {% csrf_token %}
        {{ form }}
    <button type="submit">Sök</button>
    </form>
    {% if users %}
        <table>
        <thead>
            <tr>
                <th>Förnamn</th><th>Efternamn</th><th>Mailadress</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name|title }}</td><td>{{ user.last_name|title }}</td><td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <h3>Du har inga träffar i den sökning.</h3>
    {% endif %}
{% endblock %}