{% extends "master.html" %}
{% block hero %}
{% endblock %}

{% block content %}
    {% with u=request.user %}
        <h1>
            Profil
        </h1>
        <ul class="accordion-tabs">
        <li class="tab-header-and-content">
        <a href="javascript:void(0)" class="tab-link {{ tab1 }}" >Info</a>
        <div class="tab-content">

        <h3>Liu-id: </h3>
        <p>{{ u.username}}</p>
        <h3>Adress:</h3>
        <p>{{ u.address|default:"Du har inte angett någon information"}} {{ u.zip_code|default:""}} {{ u.city|default:""}}</p>
        <h3>Anmälda allergier:</h3>
        <p> {{ u.allergies|default:"Du har inte angett någon information"}}</p>
        <h3>ipikuré:</h3>
        {% if u.ipikuresubscriber %}
        <p>Du prenumererar på ipikure sedan {{ u.ipikuresubscriber.date_subscribed|date:"Y-m-d" }} glöm inte att uppdatera din prenumeration efter sommaruppehållet. <a href="{% url "user_management:subscribe to ipikure" %}">Uppdatera prenumerationen på ipikuré</a></p>
        {% else %}
        <p>Du prenumererar inte på ipikure. <a href="{% url "user_management:subscribe to ipikure" %}">Anmälan Ipikuré</a></p>
        {% endif %}
        <h3>Accepterat villkoren:</h3>
        <p>Du accepterade villkoren och lämnade ditt samtycke för behandlingen av dina personuppgifter den {{ u.date_gdpr_accepted }}. Skulle du vilja återkalla ditt samtycke, kontakta personuppgiftsansvarig: <a href="mailto:inka@isektionen.se">inka@isektionen.se</a></p>
    {% endwith %}
</div>
</li>
<li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link {{ tab2 }}">Ändra uppgifter</a>
    <div class="tab-content">
        <form action="" method="post" autocomplete="on">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-field-wrapper">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}

            </div>
            {% endfor %}
            <hr>
            <button id="user-info-form-button" class="action-button" type="submit">Spara uppgifter</button>
        </form>
    </div>
</li>
<li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link {{ tab3 }}">Ändra lösenord</a>
    <div class="tab-content">
        <a class="button-group-item" id="user-info-form" href="{% url "password_change" %}">Byt lösenord</a>
    </div>
</li>
<li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link {{ tab4 }}">Kalender</a>
    <div class="tab-content">
        <p>Länkarna nedan kan användas av ett externt kalenderprogram för att prenumerera på
            sektiones evenemang. Länken <b>alla event</b> leder till en kalender-feed som visar all sektionens
            publicerade event. Den undre länken <b>dina event</b> ger en anpassad feed där bara event som du är
            anmäld till visas. Båda kalendrarna kan prenumereras på och updaterar sig själva. </p>
        <p><b>Alla event: </b><code>https://www.i-portalen.se{% url "events:calendar feed" %}</code></p>
        <p><b>Dina event: </b><code>https://www.i-portalen.se{% url "events:personal calendar feed" request.user.username %}</code></p>
        <p>En eller båda länkarna ovan kopieras in i ditt kalenderprogram. I Google Calendar tillexempel väljs
            alternativet <em>lägg till en webbadress</em> under menyn <em>andra kalendrar</em>, i andra programvaror
            kan <em>prenumerera</em> vara rätt ställe att lägga till kalendern.</p>
    </div>
</li>
</ul>
{% endblock %}
