// Breakpoints for responsive design
$breakpoint-small: 24em
$breakpoint-medium: 40em
$breakpoint-large : 50em

$large-screen-content-padding: 0 15vw 0 15vw


// Colors
$gray: lighten(#000, 30%)
$light-gray: lighten(#000, 80%)
$isektionen-brightgreen: #7ba66d
$isektionen-green: #2D701E
$isektionen-yellow: #fecd09
$isektionen-brightyellow: #ffde7c