{% extends "master.html" %}
{% load iportalen_tags %}
{% load organisation_tags %}
{% load article_tags %}
{% load event_tags %}
{% block hero %}
{% endblock %}
{% block content %}

    {% if organisation.image %}
        <div class="hero" style="background-image: url({{ MEDIA_URL }}{{ organisation.image }})">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1></h1>
            </div>
        </div>
    {% else %}
        <div class="hero">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1>{{ organisation.name|capfirst }}</h1>
            </div>
        </div>
    {% endif %}
</div>
        <div id="organisation-admin-panel">
        {% if request.user == organisation.leader or perms.organisations.can_edit_all_orgs %}
        <a href="{% url "edit_organisation" organisation.name %}">
            <button>Ändra info</button>
        </a>
    {% endif %}
    </div>
    <div id="organisation-content">
        <article class="single-article" id="organisation-description">
            <h1>Om {{ organisation.name }}</h1>
            <p>
                {{ organisation.description|markdown }}
            </p>
        </article>
        <section id="organisation-members">
            <h1>Medlemmar</h1>
            <table>
                <thead>
                <th>Namn</th>
                <th>Post</th>
                <th>Kontaktuppgifter</th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% if organisation.leader.first_name and organisation.leader.last_name %}
                            {{ organisation.leader.first_name }} {{ organisation.leader.last_name }}, {{ organisation.leader.username }}
                        {% endif %}
                    </td>
                    <td>Ordförande</td>
                    <td>{{ organisation.leader.username }}</td>
                </tr>
                {% for u in organisation.group.user_set.all %}
                    <tr>
                        {% ifnotequal organisation.leader.pk u.pk %}
                            {% if u.first_name and u.last_name %}
                                <td>
                                    {{ u.first_name|capfirst }} {{ u.last_name|capfirst }}
                                </td>
                                <td>Övrig</td>
                                <td>{{ u.username }}</td>
                            {% endif %}
                        {% endifnotequal %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="organisation-articles">
            <h1>Artiklar</h1>
            {% get_organisation_articles organisation.pk as articles %}
            <table>
                <thead>
                <th>Titel</th>
                <th>Publicerad</th>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></td>
                        <td>{{ article.created|date:"Y-m-d" }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="organisation-events">
            <h1>Event</h1>
            {% get_organisation_events organisation.pk as events %}
            <table>
                <thead>
                <th>Titel</th>
                <th>Publicerad</th>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href="{% url "event" event.pk %}">{{ article.headline }}</a></td>
                        <td>{{ event.created|date:"Y-m-d" }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
