{% extends "master.html" %}
{% load iportalen_tags %}
{% load organisation_tags %}
{% load article_tags %}
{% load event_tags %}

{% block content %}
    <section id="organisation">
        <section id="organisation-info">
            {% if organisation.image %}
                <div id="organisation-image">
                    <img src="{{ MEDIA_URL }}{{ organisation.image }}">
                </div>
            {% else %}
                <div id="organisation-image">
                    <img src="https://s3.amazonaws.com/iportalen-us/static/organisations/placeholder.png">
                </div>
            {% endif %}
            <h1>{{ organisation.name|capfirst }}</h1>

            <section id="organisation-presentation-section1">
                <div id="organisation-presentation">
                    {{ organisation.description|markdown }}
                </div>
            </section>
            <section id="organisation-presentation-section2">
                {% get_child_organisations organisation.pk as children %}
                {% if children %}
                    <div id="sub-organisations">
                        <h4>Arbetsgrupper</h4>
                        <ul>
                            {% for c in children %}
                                <li><a href="{{ c.get_absolute_url }}">{{ c.name|capfirst }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <h4>Kontaktuppgifter</h4>

                <div id="organisation-contact-info">
                    {{ organisation.contact_info|markdown }}
                </div>
                <h4>Medlemmar</h4>

                <div id="organisation-members">
                    <strong>{{ organisation.leader.first_name }} {{ organisation.leader.last_name }}</strong>
                    <ul>
                        {% for u in organisation.group.user_set.all %}
                            {% ifnotequal organisation.leader.pk u.pk %}
                                <li>{{ u.first_name }} {{ u.last_name }}</li>
                            {% endifnotequal %}
                        {% endfor %}
                    </ul>
                </div>


            </section>
        </section>
        <section id="organisation-event-article">
                <section id="news-feed">
                    {% get_organisation_articles organisation.pk as articles %}
                    {% if articles %}
                        <h4>Nyheter</h4>
                        {% for article in articles %}
                            <article class="news-preview-organisation">
                                <div class="meta">
                                    <span class="date">{{ article.created|date:"Y-m-d" }}</span>
                                    <span class="author">{% if article.organisations.all %}{{ article.organisations.all|safeseq|join:", " }}{% else %}{{ article.author }}{% endif %}</span>
                                    {# Don't render tags for articles without tags #}
                                    {% if article.tags.all %}
                                        <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
                                    {% endif %}
                                </div>
                                <h5>{{ article.headline }}</h5>
                                <a href="{{ article.get_absolute_url }}">Läs mer</a>
                            </article>
                        {% endfor %}
                    {% endif %}
                </section>
                <section id="events">
                    {% get_organisation_events organisation.pk as events %}
                    {% if events %}
                        <h4>Event</h4>

                        {% for event in events %}
                            <article class="event-preview-organisation">

                                <div class="meta">
                                    <span class="date">{{ event.start|date:"d N Y" }}</span>
                                    <span class="time">{{ event.start|time:"H:i" }}</span>
                                </div>
                                <h5>{{ event.headline }}</h5>
                                <a href="{% url "event" event.pk %}">Läs mer</a>
                                <!--
                    {% if event.enable_registration %}
                        <a href="{% url "event" event.pk %}"><button>Anmäl</button></a>
                    {% endif %}-->
                            </article>
                        {% endfor %}
                    {% endif %}
                </section>
        </section>
    </section>
    {% if request.user == organisation.leader or perms.organisations.can_edit_all_orgs %}
        <a href="{% url "edit_organisation" organisation.name %}">
            <button>Ändra info</button>
        </a>
    {% endif %}
{% endblock %}
