{% extends "master.html" %}
{% block hero %}
{% endblock %}
{% block content %}
    <div>
        <h1>Ändra uppgifter</h1>
        <p>Här kan du administrear uppgifter för {{ organisation.name }}. Glöm inte att trycka på spara
            ändringar längst ned på sidan när du är färdig.</p>
        <a href="{% url "organisations:organisation" organisation.name %}"><button type="button">Tillbaka</button></a>
        <a href="{% url "organisations:edit organisation members" organisation.name %}"><button type="button">Hantera medlemmar</button></a>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.description.errors }}
            {{ form.description.label_tag }}
            <div class="wmd-panel">
                <div id="wmd-button-bar-body"></div>
                {{ form.description }}
            </div>
            {{ form.description.help_text }}
            <br>
            <br>

            {{ form.contact_info.errors }}
            {{ form.contact_info.label_tag }}
            {{ form.contact_info }}
            {{ form.contact_info.help_text }}
            <br>
            <br>

            {{ form.leader.errors }}
            {{ form.leader.label_tag }}
            {{ form.leader }}
            {{ form.leader.help_text }}
            <br>
            <br>

            {{ form.image.errors }}
            {{ form.image.label_tag }}
            {{ form.image }}
            {{ form.image.help_text }}
            <br>
            <br>

            <button type="submit">Spara ändringar</button>
        </form>

    </div>

{% endblock %}

{% block after_scripts %}
    <script>
        markdown_organisation_preview()
    </script>
{% endblock %}