{% extends "master.html" %}
{% load iportalen_tags %}
{% load organisation_tags %}
{% load article_tags %}
{% load event_tags %}

{% block content %}
    <section id="organisation">
    {% if organisation.image %}
        <div id="organisation-image">
            <img src="{{ MEDIA_URL }}{{ organisation.image }}" >
        </div>
    {% endif %}
        <h1>{{ organisation.name }}</h1>

        <div id="organisation-presentation">
            {{ organisation.description|markdown }}
        </div>


        <h4>Kontaktuppgifter</h4>
        <div id="organisation-contact-info">
            {{ organisation.contact_info|markdown }}
        </div>
        <h4>Medlemmar</h4>
        <div id="organisation-members">
            <strong>{{ organisation.leader.first_name }} {{ organisation.leader.last_name }}</strong>
            <ul>
                {% for u in organisation.group.user_set.all %}
                    {% ifnotequal organisation.leader.pk u.pk %}
                    <li>{{ u.first_name }} {{ u.last_name }}</li>
                    {% endifnotequal %}
                {% endfor %}
            </ul>
        </div>

    {% get_child_organisations organisation.pk as children %}
        {% if children %}
        <div id="sub-organisations">
            <h4>Grupper</h4>
            <ul>
                {% for c in children %}
                    <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if organisation.group_id %}
        <section id="events">
            {% get_group_events organisation.group_id as events %}
            {% if events %}
                <h4>Event</h4>
                {% for event in events %}
                <article class="event-preview">
                    <h7>{{ event.headline }}</h7>
                    <div class="meta">
                        <p class="meta-content">{{ event.start|date:"d N Y" }}</p>
                            <p class="meta-content">Kl. {{ event.start|time:"H:i" }}</p>
                    </div>
                    <a href="{% url "event" event.pk %}">Läs mer</a>
                <!--
                    {% if event.enable_registration %}
                        <a href="{% url "event" event.pk %}"><button>Anmäl</button></a>
                    {% endif %}-->
                </article>
                {% endfor %}
            {% endif %}
        </section>


        <section id="news-feed">
            {% get_group_articles organisation.group_id as articles %}
            {% if articles %}
            <h4>Nyheter</h4>
            {% for article in articles %}
                <article class="news-preview">
                    <div class="meta">
                        <span class="date">{{ article.created|date:"Y-m-d" }}</span>
                        <span class="author">{{ article.author }}</span>
                        {# Don't render tags for articles without tags #}
                        {% if article.tags.all %}
                            <span class="tags">{{ article.tags.all|safeseq|join:", " }}</span>
                        {% endif %}
                    </div>
                    <h5>{{ article.headline }}</h5>

                    <p>{{ article.lead|truncatewords_html:50 }}</p>
                    <a href="{{ article.get_absolute_url }}">Läs mer</a>
                </article>
            {% endfor %}
        {% endif %}
        </section>
    {% endif %}
    </section>
    {% if request.user in organisation.group.user_set.all %}
        <a href="{% url "edit_organisation" organisation.name %}"><button>Ändra info</button></a>
    {% endif %}
{% endblock %}