{% extends "master.html" %}

{% block hero %}
{% endblock %}
{% block content %}
    {% include "exchange_portal/exchange_portal_header.html" %}

    <h3>Skolor</h3>
    <a href="/admin/exchange_portal/school/">Lägg till en skola</a>

    <h3>Städer</h3>
    <a href="/admin/exchange_portal/city">Lägg till en stad</a>

    <h3>Länder</h3>
    <a href="/admin/exchange_portal/country">Lägg till ett land</a>

    <h3>Kurser</h3>
    <a href="/admin/exchange_portal/liu_course">Lägg till en LiU-kurs</a>
    <br>
    <a href="/admin/exchange_portal/exchange_course">Lägg till en utlandskurs</a>


    <h3>Reseberättelser</h3>
    <a href="/admin/exchange_portal/travel_story">Lägg till en reseberättelse</a>

{% endblock %}