{% extends "master.html" %}
{% block title %}Utlandsportalen{% endblock %}
{% block content %}
  {% include "exchange_portal/exchange_portal_header.html" %}
  <!-- Måste ändra så den inte har samma/högre z-värde som riktiga headern, ser konstigt ut nu -->

  <h1>Asien</h1>
  <hr id="exchange_divider">

  <div class="dropdown">
    <button id="element">Click Me</button>
    <div class="dropdown-content">
      hej
    </div>
  </div>

  <button type="button" class="btn btn-primary">Asiens Reseberättelser</button>
{% endblock %}
