{% extends "master.html" %}
{% block title %}Utlandsportalen{% endblock %}
{% block content %}
    {% include "exchange_portal/exchange_portal_header.html" %}
    <!-- Måste ändra så den inte har samma/högre z-värde som riktiga headern, ser konstigt ut nu -->
    <hr id="exchange_divider">

    <div class="dropdown">
        <button class="dropdown-btn">länder<i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        {% if university_list %}
            {% for university in university_list %}
                <a href="{{ university.in_city.in_country.name }}">{{ university.in_city.in_country.name }}</a> <br>
            {% endfor %}
        {% endif %}
        </div>
    </div>

    <button type="button" class="btn btn-primary style=" style="position:relative">Asiens Reseberättelser</button>
    <img src="/media/maps/Geo-map-asia.png" height="480">
    {% if university_list %}
     <table id="university_list">
                <thead id="course_table_head">
                <tr>
                    <th colspan="4"> Land: <button class="table_icon"><i class="fa fa-sort" onclick="sortTable('university_list' ,0)" aria-hidden="true"></i></button> </th>
                    <th colspan="4"> Stad: <button class="table_icon"><i class="fa fa-sort" onclick="sortTable('university_list' ,1)" aria-hidden="true"></i></button></th>
                    <th colspan="4"> Universitet: <button class="table_icon"><i class="fa fa-sort" onclick="sortTable('university_list' ,2)" aria-hidden="true"></i></button></th>
                </tr>
                </thead>
                <tbody>
                {% for university in university_list %}
                    <tr>
                        <td colspan="4"><a href="{{ university.in_city.in_country.name }}">{{university.in_city.in_country|capfirst}}</a></td>
                        <td colspan="4">  {{ university.in_city|capfirst }} </td>
                        <td colspan="4"> <a href="/exchange_portal/school/{{ university.id }}"> {{ university.name|capfirst }}</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endif %}



{% endblock %}
