{% extends "master.html" %}

{% block title %}Utlandsportalen{% endblock %}
{% block content %}
{% include "exchange_portal/exchange_portal_header.html" %}

<h1>{{ school.name|capfirst }}</h1>
<p>{{ school.in_city.name|capfirst }}, {{ school.in_city.in_country.name }} </p><br>

<i>
    Utbyte genom universitetet:
    {% if school.exchange_with_liu %}
        <b>Ja</b>
    {% elif not school.exchange_with_liu %}
        <b>Nej</b>
    {% endif %}
    <br>
    Utbyte genom freemover:
    {% if school.freemover %}
        <b>Ja</b>
    {% elif not school.freemover %}
        <b>Nej</b>
    {% endif %}
</i>
<br>
<br>
<h3>Kurser</h3>
    {% if course_list %}
        <table class="courses">
            <thead>
            <tr>
                <th colspan="2">{{ school.name|capfirst }}</th>
                <th colspan="2">Linköpings Universitet</th>
            </tr>
            </thead>
            <tbody>
            {% for course in course_list %}
                <tr>
                    <td>{{ course.course_code|capfirst }}</td>
                    <td>{{ course.name|capfirst }}</td>
                    <td>{{ course.corresponding_liu_course.course_code|capfirst }}</td>
                    <td>{{ course.corresponding_liu_course.name|capfirst }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif not course_list %}
        <p>Mer information om skolans kurser och motsvarande kurser på Linköpings Universitet kommer upp inom
            kort.</p>
    {% endif %}
<br>
<h3>Travelstories:</h3>
{% if travel_story %}
    <i>(Klicka länk för nedladdning)</i>
    {% for story in travel_story.all %}
        <p><a href="{{ story.file.url }}">{{ forloop.counter }}. Reseberättelse av {{ story.added_by_user }}</a></p>
    {% endfor %}

    <!-- Koppla liu-id till namn? Så att vi kan .get_full_name efter added_by_user -->
    <!--ifall vi hellre vill ha antal efter "reseberättelse{{ forloop.counter }}-->
    <!--<p>Bifogad fil: <a href="{{ travel_story.file.url }}">{{ travel_story.about_school }}</a></p>-->
{% elif not travel_story %}
    <p>Det finns inga travelstories uppe just nu. Men vi längtar efter att få läsa om dina berättelser under ditt utlandsår!</p>
{% endif %}


{% endblock %}