{% extends "master.html" %}

{% block title %}Utlandsportalen{% endblock %}
{% block content %}
    Vet ej, men jag antar att vi hörs!

    {% for c in country_list %}
        <li>{{ c.name|capfirst }}</li>
    {% endfor %}


    <form class="search-form" action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        <input class="search-holder" type="text" name="search" placeholder="Sök universitet eller land">
        <input class="submit-holder primary action-button" type="submit" value="Sök">
    </form>

{% endblock %}