{% extends "master.html" %}

{% block title %}Utlandsportalen{% endblock %}
{% block content %}
{%  include "exchange_portal/exchange_portal_header.html" %} <!-- Måste ändra så den inte har samma/högre z-värde som riktiga headern, ser konstigt ut nu -->


    <form class="search-form" action="/exchange_portal/" method="post">
        {% csrf_token %}
        <input class="search-holder" type="text" name="q" placeholder="Sök universitet, stad eller land">
        <input class="submit-holder primary action-button" type="submit" value="Sök">
    </form>
    <br>
    {% if school_list.count != 0 %}Sökresultat <i>(Skolnamn, Stad, Land)</i>:
    {% endif %}
    {% for school in school_list %}
        <li><a href="/exchange_portal/school/{{ school.id }}">{{ school.name|capfirst }}, {{ school.in_city|capfirst }}, {{ school.in_city.in_country|capfirst }}</a></li>
    {% endfor %}
    {% if school_list.count == 0  %}
        <p>Inget resultat.</p>
    {% endif %}


{% endblock %}
