#course_table_head {
  border-top: 3px solid shade($base-border-color, 25%);
  border-bottom: 3px solid shade($base-border-color, 25%);
}

#exchange_divider {
  border-top: 2px solid shade($base-border-color, 25%);
  border-bottom: 2px solid shade($base-border-color, 25%);
}
/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
show {
  display: block !important;
}
