#course_table_head {
  border-top: 3px solid shade($base-border-color, 25%);
  border-bottom: 3px solid shade($base-border-color, 25%);
}

#exchange_divider {
  border-top: 2px solid shade($base-border-color, 25%);
  border-bottom: 2px solid shade($base-border-color, 25%);
}
/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
show {
  display: block !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.filter_btn {
  border-radius: 50px;
  text-transform: none;
  padding: 5px 10px;
  color: #999;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #999;
}

.dropdown {
  float: left;
  padding-right: 10px;
}

travel_story.travel-feed-content {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: $isektionen-green;
  //$dark-gray: #333 !default;
  //$light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $base-font-color: $dark-gray !default;
  $sans-serif: $base-font-family;
  $sans-serif-2: $base-font-family;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .travel-author {}
}

.hidden {
  display:none;
}

.current {
  background-color: lightgrey;
}

.current:focus {
      background-color: lightgrey;
      outline: none;

}

.meta {
    color: darken($dark-gray, 60%);
  a {
    color: darken($dark-gray, 60%);
    }
  span {
      margin-right: 2em;
      text-transform: none;
    }
}
.story {
  margin-top: 2em;
}
