#course_table_head {
  border-top: 3px solid shade($base-border-color, 25%);
  border-bottom: 3px solid shade($base-border-color, 25%);
}

.filter_btn {
  border-radius: 50px;
  text-transform: none;
  padding: 5px 10px;
  color: #999;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #999;
}
