{% extends "master.html" %}
{% load iportalen_tags %}
{% block hero %}{% endblock %}
{% block title %}Gör en bokning{% endblock %}
{% block content %}
    <div class="booking-container">

        <div class="booking">
        <h1>{{ bookable.name|capfirst }}</h1>
        <p>Välkommen till boknings sidan för {{ bookable.name }}! Nedan ser du tillgängliga block som går att boka. </p>
        <p><i style="color: green" class="fa fa-square"></i> = Bokningsbart</p>
    <p><i style="color: red" class="fa fa-square"></i> = Bokat</P>
    <p><i style="color: gray" class="fa fa-square"></i> = EJ bokningsbart</P>
<p>För att markera de block du vill boka klicka du på det. Du kan endast boka block i följd</p>
                <div id="year"></div>
                <div id="days">
                    <div class="single_day"><p><strong>Måndag</strong></p></div>
                    <div class="single_day"><p><strong>Tisdag</strong></p></div>
                    <div class="single_day"><p><strong>Onsdag</strong></p></div>
                    <div class="single_day"><p><strong>Torsdag</strong></p></div>
                    <div class="single_day"><p><strong>Fredag</strong></p></div>
                    <div class="single_day"><p><strong>Lördag</strong></p></div>
                    <div class="single_day"><p><strong>Söndag</strong></p></div>
                </div>
        {% comment %}
            This is where the booking form is rendered by the script booking.js
        {% endcomment %}
        </div>

        <div class="button-group third-container">
            <div class="third left">

                {% if weeks_forward > 0 %}
                <a href="{% url "bookings:make booking week" bookable_id weeks_forward|add:"-1"  %}"><button type="button">Föregående vecka</button></a>
                {% endif %}
                &nbsp;
            </div>
            <div class="third center">
                <form method="post" action="">
                {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                <button class="action-button" type="submit">Boka</button>
                </form>
            </div>
            <div class="third">
                <a class=" align-right" href="{% url "bookings:make booking week" bookable_id weeks_forward|add:"1"  %}"><button type="button">Nästa vecka</button></a>
            </div>
        </div>
    <br>
    <div class="info">{{ bookable.info|markdown }}</div>
    </div>
{% endblock %}

{% block after_scripts %}
 <script>
  jQuery(document).ready(function(){
                generate_booking_form({{ bookable_id }}, {{ weeks_forward }})
        });
  </script>

{% endblock %}