{% extends "master.html" %}
{% block hero %}{% endblock %}
{% block title %}Gör en bokning{% endblock %}
{% block content %}
    <div class="booking-container">
        {% comment %}
            jQuery script   - Fetches todays date
                            - Fetches this week, and next.
                            - Fetches slots
                            - Renders html elements.
                            - UI to select start and end.
                            - Connect to form for start and end.

                            - Next step: max slots, validation and so on.

            Django views:   - Todays date
                            - Days in week, given date.
                            - Slots, given bookable. Availability and so on.


        {% endcomment %}
        <div class="booking">
        <div><h1>{{ bookable.name|capfirst }}</h1></div>
                <div id="year"></div>
                <div id="days"></div>
        {% comment %}
            This is where the booking form is rendered by the script booking.js
        {% endcomment %}
        </div>
        <div class="button-group third-container">
            <div class="third left">

                {% if weeks_forward > 0 %}
                <a href="{% url "make_booking_week" bookable_id weeks_forward|add:"-1"  %}"><button type="button">Bakåt</button></a>
                {% endif %}
                &nbsp;
            </div>
            <div class="third center">
                <form method="post" action="">
                {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                <button class="" type="submit">Boka</button>
                </form>
            </div>
            <div class="third">
                <a class=" align-right" href="{% url "make_booking_week" bookable_id weeks_forward|add:"1"  %}"><button type="button">Frammåt</button></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block after_scripts %}
 <script>
  /*
     $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
  */
  jQuery(document).ready(function(){
                generate_booking_form({{ bookable_id }}, {{ weeks_forward }})
        });
  </script>

{% endblock %}