{% extends "master.html" %}
{% block hero %}{% endblock %}
{% block title %}Gör en bokning{% endblock %}
{% block content %}
    {% comment %}
        jQuery script   - Fetches todays date
                        - Fetches this week, and next.
                        - Fetches slots
                        - Renders html elements.
                        - UI to select start and end.
                        - Connect to form for start and end.

                        - Next step: max slots, validation and so on.

        Django views:   - Todays date
                        - Days in week, given date.
                        - Slots, given bookable. Availability and so on.


    {% endcomment %}
    <div class="booking">
    {% comment %}
        This is where the booking form is rendered by the script booking.js
    {% endcomment %}
    </div>
    <div class="button-group">
        {% if weeks_forward > 0 %}
        <a href="{% url "make_booking_week" bookable_id weeks_forward|add:"-1"  %}"><button type="button">Bakåt</button></a>
        {% endif %}
        <a href="{% url "make_booking_week" bookable_id weeks_forward|add:"1"  %}"><button type="button">Frammåt</button></a>
        <form method="post" action="">
        {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
        <button type="submit">Boka</button>
        </form>
    </div>

{% endblock %}

{% block after_scripts %}
 <script>
  /*
     $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
  */
  jQuery(document).ready(function(){
                generate_booking_form({{ bookable_id }}, {{ weeks_forward }})
        });
  </script>

{% endblock %}