{% extends "master.html" %}
{% load iportalen_tags %}
{% load organisation_tags %}
{% block hero %}
{% endblock %}

{% block content %}
    <section id="evaluate-course">
        {{ settings.evaluate_course_text|markdown }}

        {% get_organisation_leader settings.organisation as leader %}

        <h2>Frågor</h2>
        <p>Vid eventuella frågor eller funderingar är du välkommen att kontakta oss via {{ settings.contact_email }}.</p>
        <p>Med vänliga hälsningar</p>

        <p>{{ leader.user.first_name|capfirst }} {{ leader.user.last_name|capfirst }}</p>
        <p>{{ leader.post }} {{ settings.organisation }}</p>


        {% if user_evaluations %}
            <p>Du har anmält dig för att utvärdera, {% for e in user_evaluations %}<strong>{{ e.course }}</strong>, {% endfor %} den här perioden.</p>
        {% else %}
            <p>Du har ännu inte anmält intresse för att utvärdera någon kurs under {{ period.name }}.</p>
        {% endif %}

        <h2>Anmäl dig som utvärderare under {{ period.name }} nedan:</h2>
        <h2>Välj kurser att utvärdera:</h2>
        <form id="forms" method="post" action="">
            {% csrf_token %}
            <div class="form">
                {{ form.non_field_errors }}
                <div class="field">
                    {{ form.course.label_tag }}{{ form.course }}
                    <p>{{ form.course.errors }}</p>
                </div>
                <div class="field">
                    {{ form.reward.label_tag }}{{ form.reward }}
                    <p>{{ form.reward.errors }}</p>
                </div>
            </div>
        <input type="submit" class="button action-button" value="Anmäl">
        </form>
    </section>
{% endblock %}