{% extends "master.html" %}

{% block hero %}
{% endblock %}

{% block content %}
    <section id="evaluate-course">
        <h1>Utvärdera en kurs!</h1>

        <h2>Bli kursutvärderare - Höj utbildningskvalitén</h2>
        <p>För att förbättra kvalitén på vår utbildning är det guld värt att vi studenter utvärderar våra kurser. För årskurs 4-5 måste man anmäla sig nedan för att bli ansvarig utvärderare för en kurs.</p>

        <p>Som ansvarig kursutvärderare samlar du in tankar och åsikter från de som läser kursen och sammanställer detta i form av en kursutvärdering samt en I-bibel. Kursutvärderingen går till LinTek och är till för att kunna föra en dialog med till exempel examinatorer medan I-bibeln är ett inofficiellt dokument som skall ge goda råd och tips om kursen till I-sektionens medlemmar.</p>

        <p><strong>Vi söker alltså dig som går i årskurs 4 eller 5</strong> som förstår att våra fem år som investeras i utbildningen här på Industriell Ekonomi blir mer värda när utbildningskvalitén höjs, och vill vara med och förbättra denna!</p>

        <h2>Tillvägagångssätt</h2>
        <p>Som kursutvärderare är du ansvarig för att skriva en kursutvärdering och en I-bibel med hjälp av insamlade åsikter från de som läser kursen. För tillvägagångssätt och mallar, se filarkivet.</p>

        <h2>Kompensation</h2>
        <p>I-sektionen ser utbildningsbevakning som en av de mest grundläggande pelarna i sin verksamhet. Som tack för din utvärderingsinsats får du välja ett valfritt kompensationsalternativ som syns om du loggar in nedan.</p>

        <p>Du får ersättning i form av ett presentkort á 150kr, på något av nedanstående alternativ:</p>

        <!-- List of options -->
        <ul>
            {% for r in rewards %}
                <li>{{ r }}</li>
            {% endfor %}
        </ul>
        <p>Du får ett presentkort per kursutvärdering. Alltså om du utvärderar 3 kurser får du möjlighet att välja 3 olika presentkort á 150kr.</p>

        <h2>Frågor</h2>
        <p>Vid eventuella frågor eller funderingar är du välkommen att kontakta oss via snordf@isektionen.se.</p>
        <p>Med vänliga hälsningar</p>
        <p>Lovisa Annerwall</p>
        <p>Ordförande Studienämnden</p>


        {% if user_evaluations %}
            <p>Du har anmält dig för att utvärdera, {% for e in user_evaluations %}<strong>{{ e.course }}</strong>, {% endfor %} den här perioden.</p>
        {% else %}
            <p>Du har ännu inte anmält intresse för att utvärdera någon kurs under {{ period.name }}.</p>
        {% endif %}

        <h2>Anmäl dig som utvärderare under {{ period.name }} nedan:</h2>
        <h2>Välj kurser att utvärdera:</h2>
        <form id="forms" method="post" action="">
            {% csrf_token %}
            <div class="form">
                {{ form.non_field_errors }}
                <div class="field">
                    {{ form.course.label_tag }}{{ form.course }}
                    <p>{{ form.course.errors }}</p>
                </div>
                <div class="field">
                    {{ form.reward.label_tag }}{{ form.reward }}
                    <p>{{ form.reward.errors }}</p>
                </div>
            </div>
        <input type="submit" class="button" value="Anmäl">
        </form>
    </section>
{% endblock %}