{% extends "master.html" %}
{# Det finns inget som heter fulkod på denna sidan, Här är det fritt fram att skriva inline styling och javascript, SASS och SCSS är strikt förbjudet! #}
{% load iportalen_tags %}
{% load tag_tags %}
{% include "header.html" %}
{% block head %}<style>
body, header.navigation, footer.footer {
    background-color: black;
    color: #00dd1c;
    font-family: "monospace";
}
header.navigation ul li.nav-link a {
    background-color: black;
    color: #00dd1c;
}
header.navigation .navigation-tools .user-nav-tools a {
    background-color: black;
    color: #00dd1c;
}
h1, h2, h3, h4, h5, h6 {
    background-color: black;
    color: #00dd1c;
    font-family: "monospace";
}
.sponsor{
    background-color: white;
}
.footer li a, .footer li h3 {
    background-color: black;
    color: #00dd1c;
    font-family: "monospace";
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

    </style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


{% endblock %}
{% block hero %}{% endblock %}
{% block content %}
    <pre style="font-size: 6pt">{% include "asciiart.html" %}</pre>
    <br>
    <br>
    <h3>Tentastatistik</h3>
    <form action="" method="get">
        <label>
            Kurskod:
            <input style="background-color: #333333;" type="text" name="course" value="{% if filter.course %}{{ filter.course|upper }}{% endif %}">
        </label>
        <label>
            Tentakod:
        <input style="background-color: #333333;" type="text" name="exam" value="{% if filter.exam %}{{ filter.exam|upper }}{% endif %}">

        </label>
        <label>
            Datumspann:
        <input style="background-color: #333333;" type="text" name="daterange">

        </label>
        <input class="button" style="background-color: #333333; color: #00dd1c" type="submit" value="Hämta statistik!">
    </form>
    <br>
    <div>
    <h2>{{ result.course_code|upper }} {{ result.name|title }}</h2>
        <br>
<div id="chart_div"></div>
        <br>
    <form method="get" action="{% url "webgroup:exam_statistics_update" %}">
        <input type="hidden" name="course" value="{% if result %}{{ result.course_code|upper }}{% endif %}">
        <input class="button" style="background-color: #333333; color: #00dd1c"  type="submit" value="Kolla om det finns nyare statistik!">
    </form>
    </div>
{% endblock %}
{% block document_ready %}
    $('input[name="daterange"]').daterangepicker(
        {
            locale: {
              format: 'YYYY-MM-DD'
            },
            startDate: {% if filter.date_from %}'{{ filter.date_from }}'{% else %}moment().subtract(12, 'month').startOf('month'){% endif %},
            endDate: {% if filter.date_to %}'{{ filter.date_to }}'{% else %}moment(){% endif %},
            ranges: {

                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Year': [moment().subtract(12, 'month').startOf('month'), moment()],
                   'Last 3 Years': [moment().subtract(36, 'month').startOf('month'), moment()]
                }
        },
        function(start, end, label) {
            console.log("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }
    );
    //$(".daterangepicker")
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        let data = new google.visualization.arrayToDataTable({{ google_chart|safe }});

        // Set chart options
        let options = {title:'Betygsfördelning',
                       width: "100%",
                       height: 900,
                       legend: { position: 'top', maxLines: 3 },
                       bar: { groupWidth: '75%' },
                       isStacked: true};

        // Instantiate and draw our chart, passing in some options.
        let chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
{% endblock %}

{% block after_scripts %}
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}


